/* Columns and forms widths */

.btQuoteBooking {
	margin: 0;
	box-sizing: border-box;
	-webkit-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
	opacity: 0;
	filter: alpha(opacity=0);
}
.btQuoteBooking *, .btQuoteBooking *:after, .btQuoteBooking *:before {
	box-sizing: border-box;
}
.btQuoteBooking:after {
	content: " ";
	display: table;
	clear: both;
	width: 100%;
}
.btQuoteBooking .btQuoteBookingForm {
	margin: 0;
}
.btQuoteBooking .btTotalQuoteContactGroup {
	-webkit-transition: all 600ms ease;
	transition: all 600ms ease;
	max-height: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	margin: 30px 0 0 0;
}
.btQuoteBooking .btTotalQuoteContactGroup.btActive {
	opacity: 1;
	max-height: 1000px;
	filter: alpha(opacity=100);
	-webkit-transition-delay: 400ms;
	transition-delay: 400ms;
}
/* Next button */
.btQuoteBooking .btTotalNextWrapper {
	display: block;
	width: 100%;
	padding-right: 0;
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}
.btQuoteBooking .btTotalNextWrapper:after {
	content: " ";
	display: block;
	width: 100%;
	clear: both;
}
.btQuoteBooking .btQuoteBookingForm.btActive .btTotalNextWrapper {
	padding-right: 160px;
	
}
.btQuoteBooking .btQuoteBookingForm .boldBtn {
	display: block;
	padding: 0;
	width: 140px;
	float: right;
	margin-right: -130px;
	margin-left: -100%;
}

.btQuoteBooking .btContactNext {
	border: 0;
	margin: 0 0 0 30px;
	line-height: 1;
	box-shadow: 0 0 0 1px $(accentColor) inset;
	color: $(accentColor);
	text-transform: uppercase;
	height: 3.2em;
	font-size: .8em;
	display: inline-block;
	padding: 0 3em;
	background: transparent;
	cursor: pointer;
	transition: all 300ms ease;
	opacity: 0;
	transform: translate(500px,0);
	white-space: nowrap;
	&:focus, &:hover {
		box-shadow: 0 0 0 2em $(accentColor) inset;
		color: $(darkFontColor) !important;
	}
	.bt_bb_color_scheme_5 & {
		box-shadow: 0 0 0 1px $(lightFontColor) inset;
		color: $(lightFontColor) !important;
		&:hover {
			box-shadow: 0 0 0 2em $(lightFontColor) inset;
			color: $(darkFontColor) !important;
		}
	}
	.bt_bb_color_scheme_6 & {
		box-shadow: 0 0 0 1px $(darkFontColor) inset;
		color: $(darkFontColor) !important;
		&:hover {
			box-shadow: 0 0 0 2em $(darkFontColor) inset;
			color: $(lightFontColor) !important;
		}
	}
}
.btQuoteBooking .btContactNext:focus {
	outline:0;
}

.btQuoteBooking .btQuoteBookingForm.btActive .btContactNext {
	opacity: 1;
	transform: translate(0,0);
	transition: all 400ms ease;
	width: 100%;
	.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
	.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
}
.btQuoteBooking .btContactNext:hover, .btQuoteBooking .btContactNext:active {
	background-color: $(accentColor) !important;
	color: $(darkFontColor) !important;
}

.btQuoteBooking .btContactNext:hover:after, .btQuoteBooking .btContactNext:active:after {
	margin: 0 7px 0 10px;
	-webkit-transition: margin 200ms ease;
	transition: margin 200ms ease;
}
.btQuoteBooking .btContactNext:active {
	box-shadow: 0 0 0 $(lightBorderColor) inset, 0 -2px 10px rgba(0,0,0,0.4);
}
/* Quote items */
.btQuoteBooking .btQuoteItem {
	padding: 0 0 0 220px;
	margin: 0 0 30px;
}
.btQuoteBooking .btQuoteItem label {
	display: block;
	float: left;
	width: 220px;
	margin: 8px 0 0 -220px;
	padding-right: 20px;
}
.btQuoteBooking .btQuoteSlider {
	float: left;
	margin: 0 0 0;
	width: 100%;
	.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
	.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
	:lightSkinSelector & {
		background-color: transparent;
		border: 1px solid $(lightBorderColor);
		color: $(lightFontColor);
	}
	:darkSkinSelector & {
		background-color: transparent;
		border: 1px solid $(darkBorderColor);
		color: $(darkFontColor);
	}
	.bt_bb_color_scheme_5 & {
		&::-webkit-input-placeholder {
			color: $(lightBorderColor);
		}
	}
	.bt_bb_color_scheme_6 & {
		&::-webkit-input-placeholder {
			color: $(darkBorderColor);
		}
	}
}
.btQuoteBooking .btQuoteSwitch {
	float: left;
	margin: 0 0 0;
	width: 76px;
	height: 38px;
	cursor: pointer;
	padding: 5px;
	border-radius: 19px;
	-webkit-transition: box-shadow 380ms ease;
	transition: box-shadow 380ms ease;
	:lightSkinSelector & {
		border: 1px solid $(lightBorderColor);
	}
	:darkSkinSelector & {
		border: 1px solid $(darkBorderColor);
	}
}


.btQuoteBooking .btQuoteSwitch .btQuoteSwitchInner {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	transition: all 190ms cubic-bezier(0.8, 0.1, 0.8, 0.1);
	:lightSkinSelector & {
		background: $(lightBorderColor);
	}
	:darkSkinSelector & {
		background: $(darkBorderColor);
	}
}


.btQuoteBooking .btQuoteSwitch.on .btQuoteSwitchInner {
	margin-left: 38px;
	background: $(accentColor);
	.bt_bb_color_scheme_5 & {
		background: $(darkFontColor);
	}
	.bt_bb_color_scheme_6 & {
		background: $(lightFontColor);
	}
}

.btQuoteBooking .btQuoteItemInput {
	text-align: center;
}
.btQuoteBooking .btQuoteItem .fancy-select .trigger {
	text-align: left;
	color: #b4b4b4;
}
.btQuoteBooking .btQuoteItem .fancy-select .trigger.selected {
	color: #333;
}
/* Standard fields */
.btQuoteBooking input[type="text"], .btQuoteBooking  input[type="email"], .btQuoteBooking input[type="password"], .btQuoteBooking textarea, .btQuoteBooking .fancy-select .trigger, .btQuoteBooking .ddcommon.borderRadius .ddTitleText, .btQuoteBooking .ddcommon.borderRadiusTp .ddTitleText {
	width: 100%;
	display: block;
	line-height: 2;
	min-height: 38px;
	padding: 0 12px;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	-webkit-transition: all 380ms ease;
	transition: all 380ms ease;
	outline: none;
	&:focus {
		box-shadow: 0 0 4px 0 $(accentColor);
		border: 1px solid $(lightFontColor);
		transition: all 500ms ease;
	}
	.btHardRoundedButtons & {
		border-radius: $(hardBorderRadius);
	}
	.btSoftRoundedButtons & {
		border-radius: $(softBorderRadius);
	}
	:lightSkinSelector & {
		background-color: transparent;
		border: 1px solid $(lightBorderColor);
		color: $(lightFontColor);
		&:focus {
			box-shadow: 0 0 4px 0 $(accentColor);
			border: 1px solid $(lightFontColor);
		}
	}
	:darkSkinSelector & {
		background-color: transparent;
		border: 1px solid $(darkBorderColor);
		color: $(darkFontColor);
		&:focus {
			box-shadow: 0 0 4px 0 $(accentColor);
			border: 1px solid $(darkFontColor);
		}
	}
	.bt_bb_color_scheme_5 & {
		&::-webkit-input-placeholder {
			color: $(lightBorderColor);
		}
	}
	.bt_bb_color_scheme_6 & {
		&::-webkit-input-placeholder {
			color: $(darkBorderColor);
		}
	}
}
.btQuoteBooking .ddcommon.borderRadius .ddTitleText, .btQuoteBooking .ddcommon.borderRadiusTp .ddTitleText {
	padding: 0;
}

.btQuoteBooking .btQuoteItem textarea {
	resize: vertical;
	font-size: inherit;
	padding: 0px 12px 0px 12px;
	min-height: 160px;
	.btHardRoundedButtons & {
		border-radius: 25px;
	}
	:lightSkinSelector & {
		color: $(lightFontColor);
	}
	:darkSkinSelector & {
		color: $(darkFontColor);
	}
}
.btQuoteBooking .dd.ddcommon.borderRadius .ddTitleText {
	-webkit-transition: all 380ms ease;
	transition: all 380ms ease;
	min-height: 3.2em;
}

.btQuoteBooking .dd.ddcommon.borderRadiusTp .ddTitleText, .btQuoteBooking .dd.ddcommon.borderRadiusBtm .ddTitleText {
	-webkit-transition: all 380ms ease;
	transition: all 380ms ease;
	box-shadow: 5px 0 0 $(accentColor) inset, 0 2px 10px rgba(0,0,0,0.2);
	min-height: 3.2em;
}
/* Float clears */
.btQuoteBooking .btQuoteItem:after {
	content: ' ';
	display: table;
	width: 100%;
	clear: both;
}
/* Slider */

.btQuoteWrapper {
	position: relative;
	padding: 0 17px;
}

.btQuoteWrapper:before {
    transition: all 380ms ease;
}

.btQuoteWrapper:after {
	content: ' ';
	clear: both;
	width: 100%;
	display: table;
}

.btQuoteBooking .ui-slider {
	position: relative;
	text-align: left;
}


.btQuoteWrapper:before {
	content: ' ';
	display: block;
	position: absolute;
	height: 20px;
	left: 0;
	right: 0;
	top: 50%;
	margin: -8px 0 0;
	border-radius: 10px;
}

:lightSkinSelector .btQuoteWrapper:before {
	border: 1px solid $(lightBorderColor);
}

:darkSkinSelector .btQuoteWrapper:before {
	border: 1px solid $(darkBorderColor);
}

.btQuoteBooking  .ui-slider {}

/* Slider hover state */
.btQuoteBooking  .btQuoteWrapper:hover:before {
	box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	-webkit-transition: all 380ms ease;
	transition: all 380ms ease;
}


/* Slider handle */
.btQuoteBooking  .ui-slider .ui-slider-handle {
	display: block;
	position: absolute;
	z-index: 2;
	min-width: 38px;
	height: 38px;
	-ms-touch-action: none;
	touch-action: none;
	background: $(accentColor);
	cursor: w-resize;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	border-radius: 50%;
	box-shadow: 0 0 0 rgba(0,0,0,0.5), 0 0 0 0 rgba(0,0,0,0.2) inset;
	-webkit-transition: all 190ms ease;
	transition: all 190ms ease;
	&.ui-state-hover {
		box-shadow: 0 0 0 rgba(0,0,0,0.5), 0 0 0 3px rgba(0,0,0,0.2) inset;
	}
	.bt_bb_color_scheme_5 & {
		background: $(lightBgColor);
	}
	.bt_bb_color_scheme_6 & {
		background: $(darkBgColor);
		&.ui-state-hover {
			box-shadow: 0 0 0 rgba(0,0,0,0.5), 0 0 0 3px rgba(255,255,255,0.2) inset;
		}
	}
}

.btQuoteBooking .btQuoteSliderValue {
	min-width: 34px;
	height: 38px;
	line-height: 38px;
	padding: 0 2px;
	font-size: 11px;
	font-weight: 700;
	color: $(darkFontColor);
	text-align: center;
	display: block;
	.bt_bb_color_scheme_5 & {
		color: $(lightFontColor);
	}
	.bt_bb_color_scheme_6 & {
		color: $(darkFontColor);
	}
}

/* Slider range */
.btQuoteBooking  .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}
/* support: IE8 - See #6727 */
.btQuoteBooking  .ui-slider.ui-state-disabled .ui-slider-handle,
.btQuoteBooking  .ui-slider.ui-state-disabled .ui-slider-range {
	-webkit-filter: inherit;
	filter: inherit;
}
/* Slider horizontal */
.btQuoteBooking  .ui-slider-horizontal {
	height: 20px;
	margin-top: 10px;
	cursor: pointer;
	.ui-slider-handle {
		top: -10px;
		margin-left: -18px;
	}
	.ui-slider-range {
		top: 0;
		height: 100%;
	}
	.ui-slider-range-min {
		left: 0;
	}
	.ui-slider-range-max {
		right: 0;
	}
}
/* Slider vertical */
.btQuoteBooking  .ui-slider-vertical {
	min-width: 34px;
	height: 100px;
	.ui-slider-handle {
		left: 0;
		margin-left: 0;
		margin-bottom: -18px;
	}
	.ui-slider-range {
		left: 0;
		width: 100%;
	}
	.ui-slider-range-min {
		bottom: 0;
	}
	.ui-slider-range-max {
		top: 0;
	}
}
/* Total value */
.btQuoteBooking  .btQuoteBookingForm .btQuoteTotal {
	padding: 0;
	text-align: right;
	color: $(darkFontColor);
	background: $(accentColor);
	line-height: 1.8;
	display: block;
	width: 100%;
	float: left;
	font-size: .8em;
	text-transform: uppercase;
	.btHardRoundedButtons & {border-radius: $(hardBorderRadius); overflow: hidden;}
	.btSoftRoundedButtons & {border-radius: $(softBorderRadius); overflow: hidden;}
	.bt_bb_color_scheme_5 & {
		background: $(darkBgColor);
		color: $(darkFontColor);
	}
	.bt_bb_color_scheme_6 & {
		background: $(lightBgColor);
		color: $(lightFontColor);
	}
}
.btQuoteBooking  .btQuoteBookingForm.btActive .btQuoteTotal {
}
.btQuoteBooking  .btQuoteTotalText {
	margin-right: 1em;
	font-weight: 700;
}
/* Total currency */
.btQuoteBooking .btQuoteTotalCurrency {
	font-weight: 700;
	font-size: 1.4em;
	line-height: 1.7;
	display: inline-block;
	background: rgba(0,0,0,0.25);
	padding: 5px 3px 5px 20px;
}
.btQuoteBooking .btQuoteTotalCalc {
	font-weight: 700;
	opacity: 1;
	filter: alpha(opacity=100);
	font-size: 1.4em;
	line-height: 1.7;
	display: inline-block;
	background: rgba(0,0,0,0.25);
	padding: 5px 20px 5px 3px;
}
/* Options */
.btQuoteBooking .btQuoteItem ul.options {
	text-align: left;
}
/* Contact form */
.btQuoteBooking .btQuoteContact {
	margin: 0 -10px 0px -10px;
}
/* Contact form item */
.btQuoteBooking .btQuoteContact .btQuoteItem, .bt_cc_email_confirmation_container {
	padding: 0 10px;
	float: left;
	width: 50%;
}
/* Form split in two columns */
.btQuoteBooking .btQuoteContact .btQuoteItem:nth-child(odd) {
	clear: left;
}
/* Form full width item */
.btQuoteBooking .btQuoteItem.btQuoteItemFullWidth {
	float: none;
	width: auto;
}
/* Form button */
.btQuoteBooking .btQuoteContact .boldBtn {
	clear: left;
	margin: 0px;
	text-align: center;
	white-space: normal;
}
/* Error fields validation */
.btQuoteBooking .btContactFieldMandatory.btContactFieldError input, .btQuoteBooking .btContactFieldMandatory.btContactFieldError textarea {
	box-shadow: 0 0 0 1px $(accentColor) inset;
	border-color: $(accentColor);
	&:focus {
		:lightSkinSelector & {
			box-shadow: 0 0 0 1px $(lightFontColor) inset !important;
			border-color: $(lightFontColor);
		}
		:darkSkinSelector & {
			border-color: $(lightFontColor);
			box-shadow: 0 0 0 1px $(darkFontColor) inset !important;
		}
	}
	.bt_bb_color_scheme_5 & {
		box-shadow: 0 0 0 1px $(darkFontColor) inset;
		border-color: $(darkFontColor);
		&:focus {
			box-shadow: 0 0 0 1px $(lightFontColor) inset !important;
			border-color: $(lightFontColor);
		}
	}
	.bt_bb_color_scheme_6 & {
		box-shadow: 0 0 0 1px $(lightFontColor) inset;
		border-color: $(lightFontColor);
		&:focus {
			box-shadow: 0 0 0 1px $(darkFontColor) inset !important;
			border-color: $(darkFontColor);
		}
	}
}
.btQuoteBooking .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadius .ddTitleText {
	box-shadow: 0 0 0 2px $(accentColor) inset;
}
.btQuoteBooking .btContactFieldMandatory.btContactFieldError .dd.ddcommon.borderRadiusTp .ddTitleText {
	box-shadow: 0 0 0 2px $(lightFontColor) inset !important;
}

/* Submit query message */
.btQuoteBooking .btSubmitMessage {
	color: $(accentColor);
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	height: 30px;
}
/* Date picker */
.btDatePicker {
	z-index: 10000 !important;
	width: 300px;
}
.btDatePicker table th, .btDatePicker table td {
	border: 1px solid #e0e0e0;
}
.btDatePicker .ui-datepicker-header {
	display: block;
	padding: 10px;
	overflow: hidden;
	background-color: $(accentColor);
	color: #FFF;
}
.btDatePicker table.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	line-height: 1.2;
	background-color: #f2f2f2;
}
/* Datepicker header, day names */
.btDatePicker table.ui-datepicker-calendar th {
	padding: 10px 8px;
	font-size: 14px;
	font-weight: 600;
	color: #333;
	text-align: center;
}
/* Datepicker prev/next */
.btDatePicker a.ui-datepicker-prev, .btDatePicker a.ui-datepicker-next {
	display: block;
	font-size: 10px;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	text-transform: uppercase;
	cursor: pointer;
}
.btDatePicker a.ui-datepicker-prev {
	float: left;
}
.btDatePicker a.ui-datepicker-next {
	float: right;
}
/* Prev / Next hover state */
.btDatePicker a.ui-datepicker-prev:hover, .btDatePicker a.ui-datepicker-next:hover {
	color: $(lightFontColor);
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
/* Datepicker title */
.btDatePicker .ui-datepicker-title {
	text-align: center;
	font-size: 14px;
	line-height: 1.1;
	font-weight: 600;
	color: #FFF;
}
/* Datepicker DIV */
.btDatePicker#ui-datepicker-div {
	background-color: #f2f2f2;
	border: 1px solid $(lightBorderColor);
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	margin-top: 1px;
}
/* Datepicker day */
.btDatePicker .ui-datepicker-calendar td {
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	padding: 0.3em;
	text-align: center;
}
/* Datepicker day link */
.btDatePicker table.ui-datepicker-calendar td a {
	color: #666;
	width: 18px;
	height: 18px;
	line-height: 18px;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
/* Datepicker active state */
.btDatePicker table.ui-datepicker-calendar td a.ui-state-active {
	font-weight: bold;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
/* Datepicker hover state */
.btDatePicker table td:hover {
	cursor: pointer;
}
.btDatePicker table td:hover {
	background: #e0e0e0;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}

/* Styled select */
.btQuoteBooking .btDropDown .dd {
	position: relative;
}
.btQuoteBooking .ddChild {
	position: absolute;
	left: 0 !important;
	right: 0 !important;
	margin: -1px 0 0;
}
.btQuoteBooking .ddChild {
	position: absolute !important;
}
/* Select submenu items */
.btQuoteBooking .ddChild {
	background-color: #fff;
	border: 1px solid #999;
	overflow-y: auto;
}
.btQuoteBooking .ddChild ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
.btQuoteBooking .ddChild ul li {
	display: table;
	width: 100%;
	min-height: 38px;
	margin: 0;
	padding: 0 37px 0 0;
	cursor: pointer;
	line-height: 1.2;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	color: #000;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
.btQuoteBooking .ddChild ul li span {
	display: block;
	padding: 0px 12px;
	line-height: 2;
}
.btQuoteBooking .ddChild ul li span.description {
	line-height: 1.5;
	margin-top: -.3em;
	margin-bottom: .3em;
}
/* Item hover state */
.btQuoteBooking .ddChild ul li:hover, .btQuoteBooking .ddChild ul li.selected:hover {
	color: #666;
	background: rgba(0,0,0,0.05);
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
/* First item disabled state */
.btQuoteBooking .ddChild ul li:first-child, .btQuoteBooking .ddChild ul li:first-child:hover {
	border-top: none;
	color: #666;
	background: none;
}
.btQuoteBooking .ddOutOfVision {
	position: absolute;
	height: 0;
	width: 0;
	overflow: hidden;
}
/* Styled menu itself */
.btQuoteBooking .ddItem {
	display: table;
	width: 100%;
	margin: 1px 0 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.1;
}
/* Styled menu label */
.btQuoteBooking .ddTitleText {
	display: table;
	width: 100%;
}
.btQuoteBooking .ddTitleText span, .btQuoteBooking .ddChild ul li span {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}
.btQuoteBooking .ddTitleText span span, .btQuoteBooking .ddChild ul li span span, .btQuoteBooking .ddChild ul li:hover span span, .btQuoteBooking .ddChild ul li.selected:hover span span {
	display: block;
	font-size: 12px;
	padding: 0px;
	color: #555;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
}
.btQuoteBooking .ddChild span {
	padding: 8px 12px;
}
.btQuoteBooking .ddTitleText span {
	padding: 8px 12px;
}
.btQuoteBooking .dd.ddcommon.borderRadius .ddTitleText {
	padding: 0 37px 0 0;
/*	.bt_bb_color_scheme_7 & {
		background-color: $(lightBgColor);
		border: 1px solid $(lightBorderColor);
	}
	.bt_bb_color_scheme_3 & {
		background-color: $(darkBgColor);
		border: 1px solid $(darkBorderColor);
	}*/
}
.btQuoteBooking .dd.ddcommon.borderRadiusTp .ddTitleText, .btQuoteBooking .dd.ddcommon.borderRadiusBtm .ddTitleText {
	box-shadow: 0 0 4px 0 $(accentColor);
	transition: all 500ms ease;
	:lightSkinSelector & {
		border: 1px solid $(lightFontColor);
	}
	:darkSkinSelector & {
		border: 1px solid $(darkFontColor);
	}
}
/* Select item description */
.btQuoteBooking .ddlabel, .btQuoteBooking .description {
	width: 100%;
}
.btNotSelected {
	min-height: 38px;
}
.btNotSelected  .ddlabel {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Photo in select */
.btQuoteBooking .ddTitleText .ddImage, .btQuoteBooking .ddChild ul li .ddImage {
	text-align: center;
	padding: 12px;
	padding-right: 0px;
}
.btQuoteBooking .ddTitleText .ddImage img, .btQuoteBooking .ddChild ul li .ddImage img {
	display: block;
	width: auto;
	max-width: none !important;
}
/* Nothing selected state */
.btQuoteBooking .ddTitleText.btNotSelected .ddlabel {
	opacity: 0.5;
}
/* Selected state */
.btQuoteBooking .ddTitleText .ddlabel {
	width: 100%;
	line-height: 2;
	opacity: 1;
}
.btQuoteBooking .ddTitleText .ddlabel .description {
	line-height: 1.5;
	margin-top: -.3em;
	margin-bottom: .3em;
}
.btQuoteBooking .ddTitle {
	position: relative;
	cursor: pointer;
}
/* Styled select arrow */
.btQuoteBooking .ddTitle .arrow  {
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -14px;
}
/* Arrow itself */
.btQuoteBooking .ddTitle .arrow:before {
	content: '\f078';
	font-family: FontAwesome;
	display: block;
	padding-right: 0.5em;
	transition: 150ms ease transform, 150ms ease color;
}
.btQuoteBooking .borderRadiusTp .ddTitle .arrow:before {
	transform: scaleY(-1);
}
/* Submit button */
.btQuoteBooking .btContactSubmit {
	border: 0;
	outline: none;
	background: transparent;
	cursor: pointer;
	padding: 0 3em;
	line-height: 1;
	height: 3.2em;
	font-size: .8em;
	opacity: 1;
	text-transform: uppercase;
	font-size: .8em !important;
	box-shadow: 0 0 0 1px $(accentColor) inset;
	color: $(accentColor) !important;
	filter: alpha(opacity=100);
	transition: all 300ms ease;
	.btHardRoundedButtons & {
		border-radius: $(hardBorderRadius);
	}
	.btSoftRoundedButtons & {
		border-radius: $(softBorderRadius);
	}
	&:focus, &:hover {
		box-shadow: 0 0 0 2em $(accentColor) inset;
		color: $(darkFontColor) !important;
	}
	.bt_bb_color_scheme_5 & {
		box-shadow: 0 0 0 1px $(lightFontColor) inset;
		color: $(lightFontColor) !important;
		&:hover {
			box-shadow: 0 0 0 2em $(lightFontColor) inset;
			color: $(darkFontColor) !important;
		}
	}
	.bt_bb_color_scheme_6 & {
		box-shadow: 0 0 0 1px $(darkFontColor) inset;
		color: $(darkFontColor) !important;
		&:hover {
			box-shadow: 0 0 0 2em $(darkFontColor) inset;
			color: $(lightFontColor) !important;
		}
	}
}
/* Tablets screen */
@media (max-width: 1024px) {
	.btQuoteBooking .btQuoteContact .btQuoteItem {
		float: none;
		width: auto;
	}
	.btQuoteBooking .btTotalQuoteContactGroup.btActive {
		max-height: 1000px;
	}
	.btQuoteBooking .btQuoteContact {
		margin-left: -10px;
	}
}
/* Larger smartphones screen */
@media (max-width: 650px) {
	.btQuoteBooking .btQuoteItem label {
		display: block;
		float: none;
		margin: 0 0 8px;
		width: auto;
	}
	.btQuoteBooking .btQuoteItem {
		margin: 0 0 20px;
		padding: 0;
	}
}
/* Small smartphones screen */
@media (max-width: 440px) {
	
	.btQuoteBooking .ddTitleText .ddImage img, .btQuoteBooking .ddChild ul li .ddImage img {
		display: block;
		width: auto;
		margin: 0 auto;
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .btTotalNextWrapper {
		padding: 0
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .boldBtn {
		transition: all 400ms ease;
		-webkit-transition: all 400ms ease;
		height: 60px;
		overflow: hidden;
		padding-top: 10px;
	}
	.btQuoteBooking .btQuoteBookingForm .boldBtn {
		display: block;
		width: 100%;
		float: none;
		text-align: center;
		margin: 0;
		height: 0;
		-webkit-transition: all 400ms ease;
		transition: all 400ms ease;
		clear: both;
		overflow: hidden;
		padding: 0;
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .btQuoteTotal, .btQuoteBooking .btQuoteBookingForm .btQuoteTotal {
		display: block;
		width: 100%;
		float: none;
		margin-bottom: 20px;
		height: 34px;
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .btContactNext, .btQuoteBooking .btQuoteBookingForm .btContactNext {
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
		filter: alpha(opacity=100);
		margin-left: auto;
	}
	.btQuoteBooking .btContactBack, .btQuoteBooking .btContactSubmit {
		margin: 0 auto 20px auto;
		clear: both;
		display: block;
	}
	.btPayPalButton {
		margin: 0 !important;
		float: none;
	}
}

/* Placeholder */

.btQuoteBooking *::-webkit-input-placeholder {
	font-family: inherit;
	color: #a9a9a9;
}
.btQuoteBooking *:-moz-placeholder { /* older Firefox*/
	font-family: inherit;
	color: #a9a9a9;
}
.btQuoteBooking *::-moz-placeholder { /* Firefox 19+ */
	font-family: inherit;
	color: #a9a9a9;
}
.btQuoteBooking *:-ms-input-placeholder {
	font-family: inherit;
	color: #a9a9a9;
}

/* reCAPTCHA */

.btQuoteBooking .g-recaptcha {
	margin-bottom: 30px;
}

.btQuoteBooking .g-recaptcha > div > div {
	margin: auto;
}

/* PayPal */

.btPayPalButton {
	display: inline-block;
	margin: 0 0 0 30px;
	background: transparent;
	border: $(lightBorderColor) 2px solid;
	
	margin-right: -100%;
	width: 130px;
	height: 49px;
	cursor: pointer;
	-webkit-transition: box-shadow 380ms ease;
	transition: box-shadow 380ms ease;
	background-position: center center;
	background-size: 70%;
	background-repeat: no-repeat;
}

.btPayPalButton:hover {
	box-shadow: 0 0 0 $(accentColor) inset, 0 1px 5px rgba(0,0,0,0.2);
}

.btPayPalForm {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.bt_cc_email_confirmation_container {
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 1.95em;
		cursor: pointer;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: -2px;
		width: 1.5em;
		height: 1.5em;
		background: transparent;
		transition: 200ms ease all;
		.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
		.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
		:lightSkinSelector & {
			box-shadow: 0 0 0 1px $(lightBorderColor) inset;
		}
		:darkSkinSelector & {
			box-shadow: 0 0 0 1px $(darkBorderColor) inset;
		}
		.bt_bb_color_scheme_5 & {
		}
		.bt_bb_color_scheme_6 & {
		}
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '\f00c';
		font-family: FontAwesome;
		position: absolute;
		top: .1em; left: .3em;
		font-size: 1.3em;
		line-height: 0.8;
		transition: 200ms ease all;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	[type="checkbox"]:checked + label:before {
		border-color: $(accentColor);
		background: $(accentColor);
		:lightSkinSelector & {
			box-shadow: 0 0 0 0 $(lightFontColor) inset;
		}
		:darkSkinSelector & {
			box-shadow: 0 0 0 0 $(darkFontColor) inset;
		}
		.bt_bb_color_scheme_5 & {
			box-shadow: 0 0 0 0 $(lightFontColor) inset;
			border-color: $(darkFontColor);
			background: $(darkFontColor);
		}
		.bt_bb_color_scheme_6 & {
			box-shadow: 0 0 0 0 $(darkFontColor) inset;
			border-color: $(lightFontColor);
			background: $(lightFontColor);
		}
	}
	/* accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
	}
	/* hover style just for information */
	label:hover:before {
		:lightSkinSelector & {
			box-shadow: 0 0 0 2px $(lightFontColor) inset !important;
		}
		:darkSkinSelector & {
			box-shadow: 0 0 0 2px $(darkFontColor) inset !important;
		}
	}
}

/* Overrides */
.btQuoteBooking {
	input:not([type='radio']), input:not([type='checkbox']), textarea, .fancy-select .trigger {
/*		.bt_bb_color_scheme_7 & {
			color: $(lightFontColor);
		}
		.bt_bb_color_scheme_8 & {
			color: $(darkFontColor);
		}*/
	}
	.dd.ddcommon.borderRadius .ddTitleText {
		
	}
}

/* Item lock */
.btQuoteItem.btCCLock {
	position: relative;
}
.btQuoteItem.btCCLock:before {
	content: ' ';
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: 0;
	right: 0;
	background: transparent;
	z-index: 999;
}

/* Transfer Quote total to Flex
-------------------------------------------*/
.btQuoteBooking .btTotalNextWrapper {
	display: flex;
	width: auto !important;
	flex-direction: row;
	padding-right: 0 !important;
	flex-wrap: nowrap;
	flex: 0 0 100%;
	justify-content: flex-end;
	text-align: initial;
}
.btQuoteBooking .btTotalNextWrapper:after {
	display: none;
}
.btQuoteBooking .btQuoteBookingForm.btActive .btTotalNextWrapper {
	padding-right: 0 !important;
}
.btQuoteBooking .btQuoteBookingForm.btActive .boldBtn {
	flex: 0 0 160px;
	width: 160px;
	max-width: 160px;
}
.btQuoteBooking .btQuoteBookingForm .boldBtn {
	display: flex;
	flex: 0 1 0px;
	float: none;
	margin-right: 0 !important;
	margin-left: 0 !important;
	width: 0;
	transition: all 300ms ease;
	max-width: 0;
}

.btQuoteBooking .btContactNext {
	transform: translate(160px,0);
}
.btQuoteBooking  .btQuoteBookingForm .btQuoteTotal {
	display: flex;
	flex: 0 1 100%;
	justify-content: flex-end;
	align-items: stretch;
	float: none;
}
.btQuoteBooking .btQuoteTotalText {
	align-self: center;
}
.btQuoteBooking .btQuoteContact:not(.btQuoteContactForm7) {
	margin: 0 -10px 0px -10px;
}

/* Transfer Quote total to Flex, responsive
-------------------------------------------*/
@media (max-width: 440px) {
	.btQuoteBooking .btTotalNextWrapper {
		flex-direction: column;
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .boldBtn, .btQuoteBooking .btQuoteBookingForm .boldBtn {
		flex: 1 0 100%;
		width: 100%;
		max-width: 100%;
		padding-top: 0;
	}
	.btQuoteBooking .btQuoteBookingForm.btActive .btContactNext, .btQuoteBooking .btQuoteBookingForm .btContactNext {
		width: 100%;
	}
	.btQuoteBooking .btQuoteBookingForm .btContactNext {
		transform: translateY(-100%);
		opacity: 0;
	}
}

/* Paypal button
-------------------------------------------*/
.btPayPalButton {
	display: flex;
	margin: 0;
	margin-right: auto;
	height: 38px;
	flex: 0 0 130px;
	margin-left: 30px;
}