@for i in 600, 700, 800, 900, 1000, 1100, 1200, 1400 {
	.bt_bb_layout_boxed_#(i) .bt_bb_cell {
		width: #(i)px;
		max-width: calc(100% - math($(pagePadding) * 2)px);
	}
}

/* Added bootstrap visible / hidden classes */

@media (max-width: 480px) {
  .visible-xs {
    display: block !important;
  }
}

@media (min-width: 480px) and (max-width:767px) {
  .visible-ms {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}

@media (max-width: 480px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .hidden-ms {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}