/* Header */

.mainHeader {
	width: 100%;
	position: absolute;
	background-color: inherit;
	transform: translateY(0);
	font-family: "$(menuFont)";
	transition: opacity 300ms ease;
	visibility: hidden;
	opacity: 0;
	.btMenuInitFinished & {
		visibility: initial;
		opacity: 1;
	}
	@fragment btClear;
	a {
		color: inherit;
		transition: color 100ms linear;
		&:hover {
			color: $(accentColor);
		}
	}
}

.btVerticalHeaderTop {
	height: math($(logoHeight)*0.8)px;	
}

.btPageTransitions .mainHeader {
	z-index: 1020;
}

/* Main menu */
.btLogoArea {
	position: relative;
	z-index: 1;
}

.menuPort {
	font-family: "$(menuFont)";
	font-size: $(menuFontSize)px;
	@fragment btClear;
	nav ul {
		list-style: none;
		display: block;
		margin: 0;
		padding: 0;
		transition: all 100ms ease 0s;
		li {
			display: block;
			margin: 0;
			padding: 0;
			position: relative;
			text-transform: uppercase;
			a {
				display: block;
				position: relative;
				padding: 1em 1em;
				font-weight: 400;
				&:hover {
					color: $(accentColor);
					text-decoration: none;
				}
			}
		}
		ul li {
			transition: opacity 300ms ease;
		}
		ul li.on {
			opacity: 1;
		}
	}

	ul > li > ul {
		opacity: 0;
		pointer-events: none;
	}
	
	nav > ul > li > a {
		line-height: $(logoHeight)px;
		padding: 0;
	}
	.btBelowLogoArea & {
		nav > ul > li > a {
			line-height: $(belowLogoMenuHeight)px;
		}
	}
	nav ul ul li a {
		font-weight: 400;
	}
}

/* Logo and triggers */

.btTextLogo {
	font-family: "$(menuFont)";
	font-size: 2em;
	font-weight: 800;
	line-height: $(logoHeight)px;
	.btMenuVertical & { line-height: math($(logoHeight)*0.6)px; }
}

.btLogoArea {
	.logo {
		.btMenuVertical & { transform: none !important; width: auto !important;}
		line-height: 0;
		float: left;
		.rtl & {float: right;}
			img {
			height: math($(logoHeight)*0.8)px;
			margin-top: math($(logoHeight)*0.1)px;
			margin-bottom: math($(logoHeight)*0.1)px;
			width: auto;
			display: block;
			.btMenuVertical & { height: math($(logoHeight)*0.6)px; }
			.btMenuCenter & { margin-left: auto; margin-right: auto;}
		}
		img.btAltLogo {
			display: none;
		}
	}
}


/* Hide menu */

.btMenuHorizontal.btHideMenu {
	.btHorizontalMenuTrigger {
		display: block;
		position: relative;
		z-index: 1;
		.btStickyHeaderActive& {
			.bt_bb_icon {
				margin: math($(logoHeight)*0.175)px 0;
			}
		}
	}
	.menuPort {
		opacity: 0;
		transition: opacity 1s ease;
		pointer-events: none;
		.btShowMenu& {
			opacity: 1 !important;
			pointer-events: all;
		}
	}
}


.btHorizontalMenuTrigger {
	display: none;
	float: right;
	margin: 0 0 0 0.5em;
	font-size: 1.5em;
	.bt_bb_icon {
		width: math($(logoHeight)*0.3)px;
		height: math($(logoHeight)*0.25)px;
		position: relative;
		padding: 0;
		float: left;
		margin: math($(logoHeight)*0.375)px 0;
		&:before, &:after {
			position: absolute;
			display: block;
			content: "";
			border-top-width: 2px;
			border-top-style: solid;
			left: 0;
			right: 0;
			top: 0;
			transition: 300ms ease all;
			transform: translateY(0);
			transform-origin: -.75px 1px;
			.btShowMenu & {
				transform: rotate(45deg) translateY(0) !important;
			}
			.btTransparentDarkHeader &, .btAccentLightHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive &, .btTransparentDarkHeader.btHasAltLogo &, .btLightDarkHeader.btHasAltLogo & {
				border-top-color: $(lightFontColor);
			}
			.btTransparentLightHeader &, .btAccentDarkHeader &, .btLightAccentHeader &, .btHasAltLogo &, .btTransparentDarkHeader.btHasAltLogo.btStickyHeaderActive & {
				border-top-color: $(darkFontColor);
			}
		}
		&:after {
			top: auto;
			bottom: 0;
			.btShowMenu & {
				transform: rotate(-45deg) translateY(0) !important;
			}
		}
		.bt_bb_icon_holder {
			&:before {
				content: "";
				position: absolute;
				display: block;
				content: "";
				border-top-width: 2px;
				border-top-style: solid;
				left: 0;
				right: 0;
				top: 50%;
				margin-top: -1px;
				transform: scaleX(1);
				.btShowMenu & {
					transform: scaleX(0) !important;
				}
				.btTransparentDarkHeader &, .btAccentLightHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive &, .btTransparentDarkHeader.btHasAltLogo &, .btLightDarkHeader.btHasAltLogo & {
					border-top-color: $(lightFontColor);
				}
				.btTransparentLightHeader &, .btAccentDarkHeader &, .btLightAccentHeader &, .btHasAltLogo &, .btTransparentDarkHeader.btHasAltLogo.btStickyHeaderActive & {
					border-top-color: $(darkFontColor);
				}
			}
		}
	}
	&:hover {
		cursor: pointer;
		color: inherit;
		.bt_bb_icon {
			&:before, &:after {
				.btTransparentDarkHeader &, .btTransparentLightHeader &, .btAccentLightHeader &, .btAccentDarkHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive & {
					border-top-color: $(accentColor);
				}
				.btLightAccentHeader & {
					border-top-color: $(lightFontColor);
				}
			}
			&:before {
				transform: translateY(-5px);
				.btShowMenu & {
					transform: rotate(0) translateY(-5px);
				}
			}
			&:after {
				transform: translateY(5px);
				.btShowMenu & {
					transform: rotate(0) translateY(5px);
				}
			}
			.bt_bb_icon_holder {
				&:before {
					.btShowMenu & {
						transform: scaleX(1);
					}
					.btTransparentDarkHeader &, .btTransparentLightHeader &, .btAccentLightHeader &, .btAccentDarkHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive & {
						border-top-color: $(accentColor);
					}
					.btLightAccentHeader & {
						border-top-color: $(lightFontColor);
					}
				}
			}
		}
	}
}


/* Only horizontal menu */

.btMenuHorizontal .menuPort {
	nav > ul > :any(li.current-menu-ancestor, li.current-menu-item) {
		> a:after {
			content: ' ';
			display: block;
			position: absolute;
			z-index: 5;
			bottom: 0;
			left: 0;
			right: 0;
			pointer-events: none;
			height: 4px;
			background-color: $(accentColor);
		}
		:any(li.current-menu-ancestor, li.current-menu-item) > a {
			color: $(accentColor);
		}
	}
}

/* Drop down menu */

.btMenuHorizontal {
	.menuPort ul ul {
		background-color: $(lightBgColor);
		li a {
			padding-left: 1.5em;
			padding-right: 1.5em;
			color:  $(lightFontColor);
			&:hover {
				color: $(accentColor);
			}
		}
		li .subToggler {
			color:  $(lightFontColor);
		}
		li:not(:last-child) > a {
			&:after {
				content: ' ';
				display: block;
				position: absolute;
				left: 1.5em;
				right: 1.5em;
				bottom: 0;
				height: 1px;
				background-color: $(lightBorderColor);
			}
		}
	}
}

/* Subtogglers */

.subToggler {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 45px;
	z-index: 80;
	padding: 0px 0 0;
	text-align: center;
	.on > & {
		transform: rotateX(180deg);
	}
	body.btMenuVertical & {
		display: block !important;
		padding: 20px 0;
		line-height: 1;
		right: 0;
		top: -5px;
	}
	body.btMenuHorizontal & {
		right: math($(menuPadding) - 35)px;
		line-height: $(logoHeight)px;
	}
	body.btMenuHorizontal.rtl &  {
		left: math($(menuPadding) - 35)px;
		right: auto;
	}
	body.rtl.btMenuHorizontal.btMenuCenterBelow & {
		right: auto;
		left: 0;
	}
	body.btMenuHorizontal.btMenuBelowLogo & {
		line-height: $(belowLogoMenuHeight)px;
	}
	body.btMenuHorizontal .menuPort ul ul & {
		right: 0px;
		line-height: inherit;
		padding: 1em 0;
	}
	body.btMenuHorizontal .menuPort .rightNav ul ul & {
		left: 0px;
		right: auto;
	}
}

.subToggler:before {
	content: '\f107';
	font: normal 16px/1 FontAwesome;
}

.touch .btMenuHorizontal {
	.menuPort nav ul li {
		.subToggler {
			display: block;
		}
	}
}

/* Horizontal menu, no need for override on responsive */

.btMenuHorizontal { 
	.menuPort {
		> nav > ul > li {
			padding: 0 $(menuPadding)px 0 0;
			.rtl& {
				padding: 0 0 0 $(menuPadding)px;
			}
			.rtl&:last-child {
				padding: 0;
			}
			:not(.rtl)&:last-child {
				padding: 0;
			}
			html.touch :not(.rtl)&.menu-item-has-children {
				padding: 0 $(menuPadding)px 0 0;
			}
			html.touch .rtl&.menu-item-has-children {
				padding: 0 0 0 $(menuPadding)px;
			}
		}
		ul > li > ul
		{
			opacity: 0;
		}
		> nav > ul > li > ul {
			
			> li {
				font-size: 0.9em;
			}			
		}
		> nav > ul ul {
			position: absolute;
			width: $(dropdownWidth)px;
			right: 0;
			top: auto;
			margin: 0 0 0;
			pointer-events: none;
			box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
			z-index: 1;
			padding: 0;
			li {
				z-index: 4;
				float: none;
			}
			
			ul {
				display: block;
				top: 0;
				margin: 0;
				pointer-events: none;
			}
		}

		> nav > ul li.current-menu-item ul,  > nav >  li.current-menu-ancestor ul {
			margin: 0;
		}

		> nav > ul > li {
			float: left;
			.rtl& {float: right;}
			position: relative;
			z-index: 5;
		}
		> nav > ul > li.on > ul {
			opacity: 1;
			pointer-events: auto;
			z-index: 2;
		}
		> nav > ul > li.on > ul > li.on > ul {
			opacity: 1;
			pointer-events: auto;
			z-index: 3;
		}
		> nav > ul > li > ul li a {
			transition: box-shadow ease 300ms;
			&:hover {
				box-shadow: inset 5px 0px 0px 0px $(accentColor);
			}
		}
	}

}

/* Rounded corners */

.btMenuHorizontal {
	&.btSoftRoundedButtons.btMenuBelowLogo {
		.mainHeader.gutter .btBelowLogoArea {
			border-bottom-left-radius: $(softBorderRadius);
			border-bottom-right-radius: $(softBorderRadius);
		}
	}
	&.btAccentLightHeader.btSoftRoundedButtons.btMenuBelowLogo, 
	&.btAccentDarkHeader.btHardRoundedButtons.btMenuBelowLogo,
	&.btLightDarkHeader.btHardRoundedButtons.btMenuBelowLogo {
		.mainHeader.gutter .btBelowLogoArea {
			border-radius: $(softBorderRadius);
		}
	}
	&.btLightAccentHeader.btSoftRoundedButtons.btMenuBelowLogo
	{
		.mainHeader.gutter .btLogoArea {
			border-bottom-left-radius: $(softBorderRadius);
			border-bottom-right-radius: $(softBorderRadius);
		}
	}
}

/* Menu positions */

.btMenuHorizontal {
	.menuPort ul ul {
		right: auto;
		left: 0px;
	}
	.menuPort ul ul ul {
		left: $(dropdownWidth)px;
		right: auto;
		.rtl& {
			left: auto;
			right: $(dropdownWidth)px;
		}
	}
	.menuPort nav {
		float: left;
		padding-left: 50px;
		.rtl& {
			padding-right: 50px;
			padding-left: 0;
		}
	}
}

.btMenuHorizontal.btMenuRight {
	.menuPort nav {
		float: right;
	}
}

/*
/* Uncomment this to allow last item switch
/*

@media (max-width: math($(baseTemplateWidth)+$(dropdownWidth))px) {
	.btMenuHorizontal.btMenuRight {
		.menuPort > nav > ul > li:last-child ul {
			text-align: right;
			right: 0px;
			left: auto;
			.rtl& {
				left: 0px;
				right: 0;
			}
			ul {
				left: -$(dropdownWidth)px;
				right: auto;
				.rtl& {
					left: auto;
					right: -$(dropdownWidth)px;
				}
			}
		}
	}
}*/

.btMenuHorizontal.btMenuCenter {
	.logo {
		position: relative;
		z-index: 8;
		margin: 0 0 0 50%;
	}
	.menuPort nav {
		float: none;
	}
	.menuPort .leftNav {
		position: absolute;
		right: 50%;
		left: auto;
		padding: 0;
		padding-right: $(menuPadding)px;
		ul {
			float: right;
		}
		ul ul {
			right: auto;
			left: -20px;
		}
		 ul ul ul {
			left: $(dropdownWidth)px;
			right: auto;
		} 
	}
	.menuPort .rightNav {
		position: absolute;
		left: 50%;
		right: auto;
		padding-left: $(menuPadding)px;
		ul ul {
			right: -20px;
			left: auto;
		}
		ul ul ul {
			right: $(dropdownWidth)px;
			left: auto;
		}
		li {
			text-align: right;
		}
	}
}

.btMenuHorizontal.btMenuCenterBelow {
	.logo {
		float: none;
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.gutter .port {
		position: relative;
	}
	.topBarInLogoArea {
		position: absolute;
		right: $(pagePadding)px;
		top: 0;
		.rtl& {
			right: auto;
			left: $(pagePadding)px;
		}
	}
	.menuPort nav {
		float: none;
		text-align: center;
		ul li {
			float: none;
			display: inline-block;
			ul {
				li {
					display: block;
					text-align: left;
				}
			}
		}
		.rtl& {
			float: none !important;
			ul li {
				padding: 0 0 0 $(menuPadding)px !important;	
				ul {
					left: 0;
					right: -20px;
					li {
						text-align: right;
						ul {
							right: auto;
							left: -$(dropdownWidth)px;
						}
					}
				}
			}
			ul li > a:after {
				left: auto;
				right: 0;
			}
		}
	}
	.topBarInMenu {
		position: absolute;
		right: 0;
		.rtl& {
			right: auto;
			left: 0;
		}
	}
}

/* Wide menu */

html:not(.touch) {
	body.btMenuHorizontal {
		.menuPort > nav > ul > li.btMenuWideDropdown {
			position: static;
			> ul {
				width: 100%;
				left: 0;
				> li {
					top: auto;
					border-top: none !important;
					float: left;
					> a {
						border-top: none !important;
						border-bottom: 1px solid $(lightHeadlineColor);
					}
					> ul > li > ul:before {
						display: none;
					}
					> ul {
						opacity: 1;
						top: auto;
						margin: 0 !important;
						width: 100%;
						right: 0;
						left: 0;
						position: relative;
						box-shadow: none;
						> li:first-child > a {
							border-top: none !important;
						}
					}
					> il:not(:last-child) {
						border-left: 1px solid $(lightBorderColor);
					}
					ul:before {
						display: none;
					}
				}
			}
			> li {
				width: 100%;
			}
			> li  .sub-menu {
				width: 100%;
			}
		}
		.menuPort > nav > ul > li.btMenuWideDropdown.on > ul > li > ul {
			pointer-events: auto;
		}
	}
	
	body.btMenuCenter.btMenuHorizontal .menuPort > nav.rightNav > ul > li.btMenuWideDropdown > ul {
		width: 300%;
		left: -200%;
	}
	
	body.btMenuCenter.btMenuHorizontal .menuPort > nav.leftNav > ul > li.btMenuWideDropdown > ul {
		width: 300%;
		right: -200%;
	}

	@for i in range(0, 20) {
		body.btMenuHorizontal .mainHeader li.btMenuWideDropdown.btMenuWideDropdownCols-#(i) {
			> ul > li { 
				width: math( 100/#(i), % ) !important;
			}
		}
	}	

}

/* Top bar */

.btMenuHorizontal {
	.topBar {
		font-size: .8em;
		line-height: 3.5em;
		z-index: 2;
		.topBarPort {
			display: flex;
			@fragment btClear;
		}
		.topBarPort:after, .topBarPort:before {
			display: none;
		}

	}
	.topBarInMenu {
		line-height: inherit;
		float: right;
		display: table;
		height: $(logoHeight)px;
		margin-left: $(menuPadding)px;
		.rtl& {
			float: left;
			margin-left: 0;
			margin-right: $(menuPadding)px;
		}
		.topBarInMenuCell {
			line-height: math($(belowLogoMenuHeight) - 2)px;
			display: table-cell;
			vertical-align: middle;
		}
	}
	.btBelowLogoArea .topBarInMenu {
		height: $(belowLogoMenuHeight)px;
		line-height: $(belowLogoMenuHeight)px;
	}
}

/* Menu bellow logo */

.btMenuHorizontal.btMenuBelowLogo {
	.btBelowLogoArea {
		padding: 0;
		z-index: 0;
	}
	.menuPort {
		clear: both;
		position: relative;
		margin: 0;
		float: none;
		nav {
			padding: 0;
			.rtl& {
				float: right;
				> ul {
					> li {
						margin: 0 0 0 $(menuPadding)px;	
						&:last-child {
							margin: 0 !important;
						}
					}
				}
			}
		}
	}
}

/* Header styles */

.btAccentDarkHeader, .btLightAccentHeader, .btAccentLightHeader, .btLightDarkHeader {
	&:not(.btBelowMenu) {
		.mainHeader, .btVerticalHeaderTop {
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
		}
	}
}

/* Keep width above menu */

body.btBelowMenu.btMenuHorizontal:any(.btAccentDarkHeader,.btAccentLightHeader,.btLightAccentHeader,.btLightDarkHeader) {
	.mainHeader.gutter {
		max-width: $(baseTemplateWidth)px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}

/* Transparent dark */

.btTransparentDarkHeader { 
	.mainHeader, .btVerticalHeaderTop {
		color: $(lightFontColor);
		.btStickyHeaderActive& {
			background-color: $(lightBgColor);
		}
		.btHasAltLogo.btStickyHeaderActive.btMenuHorizontal& {
			color: $(darkFontColor);
			background-color: $(darkBgColor);
		}
		.btMenuVertical& {
			background-color: $(lightBgColor); 
		}
	}
	.btBelowLogoArea .menuPort {
		border-top: 1px solid $(lightBorderColor);
	}
	.topBar .topBarPort .topTools  {
		border-bottom: 1px solid $(lightBorderColor);
	}
}

/* Transparent light */

.btTransparentLightHeader {
	.mainHeader {
		color: $(darkFontColor);
		.btStickyHeaderActive& {
			background-color: $(darkBgColor);
		}
		.btHasAltLogo.btStickyHeaderActive.btMenuHorizontal& {
			color: $(lightFontColor);
			background-color: $(lightBgColor);
		}
		.btMenuVertical& {
			background-color: $(darkBgColor);
		}
	}
	.btVerticalHeaderTop {
		color: $(darkFontColor);
		.btStickyHeaderActive& {
			background-color: $(darkBgColor);
		}
		.btHasAltLogo.btStickyHeaderActive& {
			background-color: $(lightBgColor);
			color: $(lightFontColor);
		}
	}
	.btBelowLogoArea .menuPort {
		border-top: 1px solid rgba(255,255,255,0.1);
	}
	.topBar .topTools  {
		border-bottom: 1px solid rgba(255,255,255,0.1);
	}
}

/* Accent light */

.btAccentLightHeader {
	.mainHeader, .btVerticalHeaderTop {
		background-color: $(lightBgColor);
	}	
	.btBelowLogoArea, .topBar {
		background-color: $(accentColor);
		color: $(lightFontColor);
		a:hover {
			color: $(alternateColor);
		}
	}
}

/* Accent dark */

.btAccentDarkHeader {
	.mainHeader, .btVerticalHeaderTop {
		background-color: $(darkBgColor);
		color: $(darkFontColor);
	}	
	.btBelowLogoArea, .topBar {
		background-color: $(accentColor);
		color: $(darkFontColor);
		a:hover {
			color: $(alternateColor);
		}
	}
}

/* Light dark */

.btLightDarkHeader {
	.mainHeader, .btVerticalHeaderTop {
		background-color: $(lightBgColor);
	}	
	.btBelowLogoArea, .topBar {
		background-color: $(darkBgColor);
		color: #fff;
	}
}

.btLightDarkHeader.btMenuHorizontal.btBelowMenu {
	.mainHeader {
		background-color: transparent;
	}	
	.btBelowLogoArea {
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	}
}

/* Light accent */

.btLightAccentHeader {
	.mainHeader {
		background-color: $(lightBgColor);
	}
	.btLogoArea, .btVerticalHeaderTop {
		background-color: $(accentColor);
		color: $(darkFontColor);
	}
}

.btLightAccentHeader.btMenuHorizontal.btBelowMenu {
	.mainHeader {
		background-color: transparent;
		.btLogoArea {
			background-color: $(accentColor);
		}
	}
}


/* Sticky */

.btStickyHeaderActive.btMenuHorizontal {
	.mainHeader {
		position: fixed;
		top: 0;
		left: 0;
		box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
		transform: translateY(-100%);
		.topBar {
			display: none;
		}
		.btBelowLogoArea {
			padding: 0;
		}
		.btLogoArea {
			.logo img {
				height: math($(logoHeight)*0.6)px;
				margin-top: math($(logoHeight)*0.1)px;
				margin-bottom: math($(logoHeight)*0.1)px;
			}	
			.btTextLogo {
				font-size: 1.5em;
				line-height: math($(logoHeight)*0.8)px;
			}
			.menuPort nav>ul>li>a, .menuPort nav>ul>li>.subToggler {
				line-height: math($(logoHeight)*0.8)px;
			}
			.topBarInMenu {
				height: math($(logoHeight)*0.8)px;
			}
		}
	}
	&.btMenuBelowLogo .mainHeader .btLogoArea {
		display: none;
	}
	
}
.btStickyHeaderActive {
	.btHasAltLogo& {
		.btMainLogo {
			display: none;
		}
		.btAltLogo {
			display: block !important;
		}
	}
}

.btMenuHorizontal.btStickyHeaderActive.btStickyHeaderOpen {
	.mainHeader {
		transition: transform 200ms ease-out;
		transform: translateY(0);
		.btStickyHeaderClosed& {
			transform: translateY(-100%);
		}
	}
	.btVerticalHeaderTop {
		transition: transform 200ms ease-out;
	}
}

.btMenuVertical.btStickyHeaderActive {
	.btVerticalHeaderTop {
		position: fixed;
		top: 0;
		left: 0;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
		transform: translateY(-100%);
	}
}

.btMenuVertical.btStickyHeaderActive.btStickyHeaderOpen  {
	.btVerticalHeaderTop {
		transform: translateY(0%);
		transition: transform 500ms ease-out-quint;
		.btStickyHeaderClosed& {
			transform: translateY(-100%);
		}
	}	
}

.btMenuVertical.btMenuVerticalOn {
	.btVerticalHeaderTop {
		transition: transform 500ms ease-out-quint;
	}
}

.btMenuVertical.btMenuVerticalOn .btVerticalHeaderTop {
	.btMenuVerticalLeft&{
		transform: translateY(0%) translateX($(verticalMenuWidth)px);
		border-left: 0;
	}
	.btMenuVerticalRight&{
		transform: translateY(0%) translateX(-$(verticalMenuWidth)px);
		border-left: 0;
	}
	.btStickyHeaderClosed& {
		transform: translateY(-100%) translateX($(verticalMenuWidth)px);
	}
}

.btStickyHeaderActive.btMenuVertical.btMenuVerticalOn& {
	.btVerticalHeaderTop {
		width: calc(100% - $(verticalMenuWidth)px + $(pageBorderWidth)px);
	}
}

/* Vertical and responsive menu */


.btVerticalHeaderTop {
	display: none;
	position: absolute;
	width: 100%;
	padding-left: $(pagePadding)px;
	padding-right: $(pagePadding)px;
	.btMenuVertical & {
		display: block;
	}
}

.btVerticalMenuTrigger {
	margin: 0 .5em 0 0;
	.bt_bb_icon {
		width: math($(logoHeight)*0.3)px;
		height: math($(logoHeight)*0.25)px;
		position: relative;
		padding: 0;
		float: left;
		margin: math($(logoHeight)*0.3)px 0;
		&:before, &:after {
			position: absolute;
			display: block;
			content: "";
			border-top-width: 2px;
			border-top-style: solid;
			left: 0;
			right: 0;
			top: 0;
			transition: 300ms ease all;
			transform: translateY(0);
			transform-origin: -.75px 1px;
			.btMenuVerticalOn & {
				transform: rotate(45deg) translateY(0) !important;
			}
			.btTransparentDarkHeader &, .btAccentLightHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive &, .btTransparentDarkHeader.btHasAltLogo &, .btLightDarkHeader.btHasAltLogo & {
				border-top-color: $(lightFontColor);
			}
			.btTransparentLightHeader &, .btAccentDarkHeader &, .btLightAccentHeader &, .btHasAltLogo & {
				border-top-color: $(darkFontColor);
			}
		}
		&:after {
			top: auto;
			bottom: 0;
			.btMenuVerticalOn & {
				transform: rotate(-45deg) translateY(0) !important;
			}
		}
		.bt_bb_icon_holder {
			&:before {
				content: "";
				position: absolute;
				display: block;
				content: "";
				border-top-width: 2px;
				border-top-style: solid;
				left: 0;
				right: 0;
				top: 50%;
				margin-top: -1px;
				transform: scaleX(1);
				.btMenuVerticalOn & {
					transform: scaleX(0) !important;
				}
				.btTransparentDarkHeader &, .btAccentLightHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive &, .btTransparentDarkHeader.btHasAltLogo &, .btLightDarkHeader.btHasAltLogo & {
					border-top-color: $(lightFontColor);
				}
				.btTransparentLightHeader &, .btAccentDarkHeader &, .btLightAccentHeader &, .btHasAltLogo & {
					border-top-color: $(darkFontColor);
				}
			}
		}
	}
	&:hover {
		cursor: pointer;
		color: inherit;
		.bt_bb_icon {
			&:before, &:after {
				.btTransparentDarkHeader &, .btTransparentLightHeader &, .btAccentLightHeader &, .btAccentDarkHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive & {
					border-top-color: $(accentColor);
				}
				.btLightAccentHeader & {
					border-top-color: $(lightFontColor);
				}
			}
			&:before {
				transform: translateY(-3px);
				.btMenuVerticalOn & {
					transform: rotate(0) translateY(-3px);
				}
			}
			&:after {
				transform: translateY(3px);
				.btMenuVerticalOn & {
					transform: rotate(0) translateY(3px);
				}
			}
			.bt_bb_icon_holder {
				&:before {
					.btMenuVerticalOn & {
						transform: scaleX(1);
					}
					.btTransparentDarkHeader &, .btTransparentLightHeader &, .btAccentLightHeader &, .btAccentDarkHeader &, .btLightDarkHeader &, .btHasAltLogo.btStickyHeaderActive & {
						border-top-color: $(accentColor);
					}
					.btLightAccentHeader & {
						border-top-color: $(lightFontColor);
					}
				}
			}
		}
	}
}

.btMenuVerticalOn .mainHeader {
	transform: translateX(0);
	transition: transform 500ms ease-out-quint;
}

.btMenuVerticalLeft.btMenuVerticalOn {
	.btContentWrap, .btVerticalHeaderTop {
		transform: translateX($(verticalMenuWidth)px);
		.rtl& {transform: translateX(-$(verticalMenuWidth)px);}
	}
	.btVerticalHeaderTop .logo {
		display: none;
	}
}

.btMenuVerticalRight.btMenuVerticalOn {
	.btContentWrap,  .btVerticalHeaderTop {
		transform: translateX(-$(verticalMenuWidth)px);
		.rtl& {transform: translateX($(verticalMenuWidth)px);}
	}
	.btVerticalHeaderTop .logo {
		display: none;
	}
}

.btMenuVertical {
	.mainHeader {
		text-align: center;
		height: 100%;
		top: 0;
		bottom: 0;
		position: fixed;
		width: $(verticalMenuWidth)px;
		clear: both;
		.btMenuInitFinished& {
			transition: transform 500ms ease-out-quint;
		}
		z-index: 101;
		padding: 0;
		box-shadow: none;
		overflow-y: auto;
		overflow-x: hidden;	
		:not(.btMenuBelowLogo)& {
			.mainHeaderInner {
				display: flex;
				flex-direction: column;
				align-content: flex-start;
				justify-content: flex-end;
			}
		}
		.btMenuBelowLogo& {
			.mainHeaderInner {
				display: flex;
				flex-direction: column;
				align-content: flex-start;
				justify-content: flex-end;
				.btLogoArea {
					order: 0;
				}
				.topBar {
					order: 2;
				}
				.btBelowLogoArea {
					order: 1;
				}
			}
		}
		.btMainLogo {
			display: block !important;
		}
		.btAltLogo {
			display: none !important;
		}
		.logo {
			float: none;
			margin: 0;
			padding: 1em 2em 1em;
			img {
				margin: 0 auto;
				display: block;
				height: auto;
				max-width: 100%;
			}
		}
		.btCloseVertical {
			cursor: pointer;
			font-size: 1.5em;
			position: absolute;
			right: 20px;
    		top: 10px;
    		.rtl& {
    			right: auto;
    			left: 20px;
    		}
		}
		.btCloseVertical:before {
			font-family: FontAwesome;
			content: '\f00d';
		}
		.btCloseVertical:before:hover {
			color: $(accentColor);
		}
		.menuPort {
			display: flex;
			width: 100%;
			flex-direction: column-reverse;	
			.leftNav {
				order: 1;
			}
		}
		.topBar .topBarPort .topTools {
			padding-top: 1em; 
			padding-bottom: 1em; 
		}
		nav {
			margin: 0 !important;
			ul > li > ul
			{
				opacity: 1;
				pointer-events: auto;
			}
			ul {
				transition: none;
				li {
					padding: 0;
					position: relative;
					background-color: transparent;
					a {
						line-height: 1.1;
						padding: 1em 2em;
						border: none;
						font-weight: 400;
					}
					li {
						font-size: 0.9em;
					}
				}
				li:not(.current-menu-ancestor) > ul {
					display: none;
				}
				ul li {
					padding: 0;
					opacity: 1;
					border: none;
					background-color: transparent;
					ul {
						opacity: 0.8;
						li a {
							border: none !important;
						}
					}
					
				}
			}
			:any(li.current-menu-ancestor, li.current-menu-item) > a {
				font-weight: 600;
			}	
		}
		.topBarInMenu, .topBar {
			.btIconWidget {
				margin-left: .75em;
				margin-right: .25em;
				&:not(.btWidgetWithText) {
					margin-left: .75em;
					margin-right: 0;
					.btIconWidgetIcon .bt_bb_icon {
						padding-right: .75em;
					}
				}
			}
		}
	}
	.btVerticalMenuTrigger {
		display: block;
	}
	.menuScrollPort {
		width: $(verticalMenuWidth)px;
		overflow: hidden;
	}
}

.btMenuVerticalRight {
	.mainHeader {
		right: 0;
		box-shadow: -2px 0 5px rgba(0,0,0,0.1);
		transform: translateX(100%);
		.btMenuVerticalOn& {transform: translateX(0);}
	}
	.btVerticalMenuTrigger {
		float: right;
	}
}

.btMenuVerticalLeft {
	.mainHeader {
		left: 0;
		box-shadow: 2px 0 5px rgba(0,0,0,.10);
		transform: translateX(-100%);
		.btMenuVerticalOn& { transform: translateX(0); }
	}
	.btVerticalMenuTrigger {
		float: left;
	}
}


/* Header tools layout */

.btMenuHorizontal {
	/* Top Tools */
	.btTopToolsRight, .btTopToolsLeft {
		flex-grow: 1;
	}
	.btTopToolsRight {
		text-align: right;
		.rtl& {
			text-align: left;
		}
	}
	/* Logo Area Tools */
	.topBarInLogoArea {
		float: right;
		.rtl& {float: left;}
		height: $(logoHeight)px;
		display: flex;
		align-items: center;
		.topBarInLogoAreaCell {
			border: 0px solid $(accentColor);
		}
	}
}

/* Tools in vertical menu */

.btMenuVertical .menuPort {
	.btEmptyElement {
		display: none;
	}
	.btTopToolsRight, .btTopToolsLeft {
		max-width: none;
		float: none;
	}
	.topBar {
		padding: 0;
	}
	.topTools {
		position: static;
		padding: 10px 0px 0;
		text-align: center;
		font-size: 14px;
	}
	.topBarInLogoArea:after, .topBar:after {
		display: table;
		content: ' ';
		clear: both;
	}
	.topBarInMenu {
		margin: 3em 0 0;
	}
	nav:not(.rightNav):before, nav:not(.leftNav):after {
		display: inline-block;
		content: ' ';
		width: 85px;
		height: 4px;
		clear: both;
	}
	nav:not(.rightNav):before {
		margin: 1em 0 1em;
	}
	nav:not(.leftNav):after {
		margin: 1em 0 1em;
	}
}

:lightSkinSelector {
	nav:before, nav:after  {
		background-color: $(lightHeadlineColor);
	}
}

:darkSkinSelector {
	nav:before, nav:after  {
		background-color: $(darkHeadlineColor);
	}
}

/* iScroll */

:darkSkinSelector .iScrollIndicator {
	background-color: rgba(255, 255, 255, 0.05) !important;
	border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* Prevent horizontal scroll on small screens when menu is open */

body.btMenuVerticalOn {
	/*width: 100vw;*/
	overflow: hidden;
}


/* IE10 Menu Fix */


html[data-useragent*='MSIE 10.0'] {

	body.btMenuHorizontal .menuPort {

		ul > li > ul {
			opacity: 1;
			pointer-events: auto;
			display: none;
		}
		ul > li.on > ul {
			display: block;
		}
		ul > li.on > ul > li > ul {
			display: none;
		}
		ul > li.on > ul > li.on > ul {
			display: block;
		}
		ul > li.on > ul > li.on > ul > li > ul {
			display: none;
		}
		ul > li.on > ul > li.on > ul > li.on > ul {
			display: block;
		}
	}

}


/* Admin bar fix */

.admin-bar.btStickyHeaderActive {
	.mainHeader, .btVerticalHeaderTop {
		top: 32px;
	}
}

.admin-bar.btMenuVertical {
	.mainHeader {
		top: 32px;
	}
}	

@media screen and (max-width: 782px){
	.admin-bar.btStickyHeaderActive {
		.mainHeader, .btVerticalHeaderTop {
			top: 46px;
		}
	}

	.admin-bar.btMenuVertical {
		.mainHeader {
			top: 46px;
		}
	}
}

@media screen and (max-width: 600px){
	.admin-bar.btStickyHeaderActive {
		.mainHeader {
			top: 0;
		}
	}

	.admin-bar.btMenuVertical {
		.btVerticalHeaderTop {
			top: 0;
		}
	}
}