/* Single post */     

.sticky {
	.headline:before {
		content: '\e69b';
		font-family: Icon7Stroke;
		display: block;
		float: left;
		margin-right: 0.4em;
		font-size: 0.7em;
		padding-top: 0.3em;
	}
	.btBlogSimpleViewCategories .headline:before {
		content: '';
	}	
}

/* Single Article */

.single-post header.bt_bb_headline .bt_bb_headline_content {
    text-transform: uppercase;
}

.btPostSingleItemStandard  {
	body.btNoSidebar & {
		margin-top: 4em;	
	}
	.btPostListStandard& {
		padding-bottom: 4em;	
	}
	.btArticleMedia, .btArticleHeadline, .btArticleContent, .btArticleShareEtc  {
		margin-bottom: 2em;
		clear: both;
	}
	.btArticleShareEtc {
		display: flex;
		align-items: center;
		> div {
			flex: 1 1 50%;
			max-width: 50%;
			&.btReadMoreColumn {
				text-align: right;
				flex: 1 1 50%;
			}
		}
	}
	.btPortfolioSingle& {
		.btArticleContent, .btArticleShareEtc {
			max-width: initial;
		}
		.btArticleContent {
			display: flex;
			margin-left: -2em;
			margin-right: -2em;
			.btArticleContentInner {
				flex: 1 1 70%;
				padding-left: 2em;
				padding-right: 2em;
			}
			.btArticleSuperMeta {
				flex: 1 1 30%;
				padding-left: 2em;
				padding-right: 2em;
			}
		}
	}
	.btShareColumn {
		body.single & {
			text-align: right;
		}
		body.single.rtl & {
			text-align: left;
		}
	}
}

/* Portfolio meta */

.btArticleSuperMeta {
	dl {
		margin-bottom: 2em;
		dt { 
			min-width: 50%;
			display: inline-block;					
		}
		dd { 
			text-align: right;
			display: inline-block;	
		}
	}
	.btShareColumn {
		margin-bottom: 1em;
		text-align: inherit !important;
	}
}

/* about author */

.btAboutAuthor {
    display: flex;
    width: 100%;
	margin: 0 0 2em;
	padding: 2em 0;
	:lightSkinSelector & {
		border-top: 1px solid $(lightBorderColor);
	}
	:darkSkinSelector & {
		border-top: 1px solid $(darkBorderColor);
	}
	.aaAvatar {
	    vertical-align: top;
	    padding: 0 1em 0 0;
	    flex: 1 1 150px;
		img {
		    display: block;
		    width: 100%;
		    height: auto;
		    border-radius: 50%;
		}
	}
	.aaTxt {
	    flex: 0 1 100%;
	    padding: 0;
		:hTagSelector {
		    font-size: 1.3em;	
		}
	}
}

@media(max-width: 520px) {
	.btAboutAuthor .aaAvatar {
	   flex: 1 1 100px;
	}
}

/* Media box */

.btMediaBox {
	position: relative;
	overflow: hidden;
	img {
	    display: block;
	    /* width: 100%; */
		width: auto;
	    height: auto;
	}
	.aspectVideo {
	    visibility: hidden;
		width: 100%;
	}
	iframe {
	    display: block;
	    border: none;
	}
	&.video iframe {
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100% !important;
		height: 100% !important;
		border: none;
	}
	&.audio iframe {
	    display: block;
	    width: 100% !important;
	}
	&.btQuote, &.btLink {
		text-align: center;
	    position: relative;
	    display: block;
	    padding: 3em;
		margin: 0;
	    background-color: $(accentColor);
	    font-weight: 300;
		padding: 5em;
		.btArticleListItem & {
			padding: 4em;
		}
		blockquote {
			padding: 0em;
			&:before {
				content: '';	
			}		
		}
		p:before {
			display: block;
			text-align: center;
			font: 2em/1em Icon7Stroke;
			margin-bottom: 0.3em;
		}
		p {
			font-size: 2em;
			line-height: 1.3em;
			margin: 0;
			font-style: italic;
		}
		cite {
			display: inline-block;
			padding: 1.5em 0 0;
			border-top: 1px solid $(darkFontColor);
			margin: 1.5em 0 0;
			font-size: 1em;
		}
		a {
			color: $(darkFontColor);
			transition: all 300ms ease;
			&:hover {
				color: $(darkFontColor);
				opacity: 0.6;
			}
		}
	}
	&.btLink {
		p:before { content: "\e641"; }
	}
	&.btQuote {
		p:before { content: "\e635"; }
	}
}

/* Blog list side info */

.btHasAuthorInfo .btArticleContentHolder {
	position: relative;
	padding-left: 110px;
}

.articleSideGutter {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 1.4;
	width: 90px;
	text-align: center;
	.btPostListColumns & {
		margin-left: 1em;
	}
	.date {
		opacity: 0.8;
	}
	.rtl & {
		left: auto;
		right: 0;
	}
	.asgItem {
		&.title {
			margin: 4px 0 0;
		}
	}
}

@media (max-width: 768px) { 
	.btPostSingleItemStandard  {
		.btArticleShareEtc {
			display: block;
			> div.btReadMoreColumn, > div.btShareColumn {
				max-width: 100%;
				float: none;
				text-align: center;
				&:first-child {
					padding-bottom: 1em;
				}				
			}	
		}
	}
	.btArticleContent {
		display: block !important;
}
}
@media (max-width:620px) {
	.btHasAuthorInfo {
		.btArticleContentHolder {
			padding-left: 0;
			clear: both;
		}
		.articleSideGutter {
			position: relative;
			left: 0;
			margin: 0;
			width: auto;
			padding: 0 0 1em 0;
			clear: both;
		}
		.asgItem.avatar {
			width: 45px;
			float: left;
		}	
	}
}

/* Share row general */

.btShareColumn, .btShareRow {
	opacity: 0.4;
} 

/* List views */

/* Column list view */

.btPostListColumns, .btPostSingleItemColumns {
	body.btNoSidebar &:first-of-type {
		margin-top: 4em;	
	}
	&:not(:last-of-type) {
		margin-bottom: 3em;
	}
	.btArticleContentHolder {
		display: flex;
		align-items: center;
		margin: 0 -1em;
		.btArticleMedia {
			flex: 1 1 50%;
			max-width: 50%;
			padding: 0 1em;
			.btNoMedia& {
				flex-basis: 0%;
				max-width: 0%;
			}
			.portfolio:not(.btNoMedia)& {
				flex-basis: 70%;
				max-width: 70%;
			}
		}
		.btArticleTextContent {
			flex: 1 1 50%;
			max-width: 50%;
			padding: 1em;
			.btNoMedia& {
				flex-basis: 100%;
				max-width: 100%;
			}
			.portfolio:not(.btNoMedia)& {
				flex-basis: 30%;
				max-width: 30%;
			}
		}
		.btArticleHeadline, .btArticleContent {
			margin-bottom: 1em;
		}
		.btShareRow {
			margin-top: 2em;
		}
		:any( .btMediaBox.btQuote, .btMediaBox.btLink ) {
			p {
				font-size: 1.5em;
			}
			cite {
				padding-top: 1em;
				font-size: 0.8em;
			}
		}
	}
}

.btContent .btPostListColumns:nth-child(even) .btArticleContentHolder {
	flex-direction: row-reverse;
}

@media (max-width: 1024px) { 
	.portfolio:not(.btNoMedia).btPostListColumns  .btArticleContentHolder { 
		display: block;
		margin-left: 0;
		margin-right: 0;
		.btArticleMedia, .btArticleTextContent {
			clear: both;
			padding: 0;
			max-width: 100% !important;
		}
		.btArticleMedia {
			padding-bottom: 1em;
			max-width: 100%;

		}
 	}
}


@media (max-width: 768px) { 
	.btPostListColumns  .btArticleContentHolder,
	.btPostSingleItemColumns .btArticleContentHolder { 
		display: block;
		margin-left: 0;
		margin-right: 0;
		.btArticleMedia, .btArticleTextContent {
			clear: both;
			padding: 0;
			max-width: 100% !important;
		}
		.btArticleMedia {
			padding-bottom: 1em;
			max-width: 100%;
		}
 	}
}

/* Sticky item */

.sticky.btArticleListItem
.btArticleHeadline :hTagSelector {
	.bt_bb_headline_content span a:after {
		font-family: FontAwesome;
		content: "\f02b";
		margin: 0 0.5em;
		color: $(accentColor);
	}
}

/* Dark skin */


.btDarkSkin {
	:any(.btShareColumn, .btShareRow ) {
		.bt_bb_icon.bt_bb_style_filled .bt_bb_icon_holder:before {
			box-shadow: 0 0 0 1em $(darkFontColor) inset;
			color: $(darkBgColor);
		}
		.bt_bb_icon.bt_bb_style_filled:hover .bt_bb_icon_holder:before {
			box-shadow: 0 0 0 1px $(darkFontColor) inset;
			color: $(darkFontColor);
		}				
	}
	:any(.btReadMoreColumn) {
		.bt_bb_style_outline.bt_bb_button a {
			box-shadow: 0 0 0 1px $(darkFontColor) inset;
			color: $(darkFontColor);
		}
		.bt_bb_style_outline.bt_bb_button:hover a {
			box-shadow: 0 0 0 2em $(darkFontColor) inset;
			color: $(darkBgColor);
		}		
	}

}


/* Column single view */

.btPostSingleItemColumns {
	.btArticleContentHolder {
		align-items: flex-start;
	}
	.btArticleMedia, .btArticleHeadline, .btArticleContent, .btArticleShareEtc  {
		margin-bottom: 2em;
		clear: both;
	}
	body.btNoSidebar & {
		margin-top: 4em;	
	}	
}

/* Simple view */

.btArticleListItem.btPostListSimple .btArticleContentHolder {
	padding-bottom: 3em;
	margin-bottom: 3em;
	border-bottom: 1px solid $(lightBorderColor);	
	.btArticleTextExcerpt {
		margin-top: 2em;
	}
}

.btArticleListItem.animate {
	transition-delay: 200ms;
}

/* Image alignment (unit test) */

.btContentHolder {
	.alignleft {
		float: left;
		margin: 0 1em 0 0;
	}
	.alignright {
		float: right;
		margin: 0 0 0 1em;
	}
	.aligncenter, .btContent .alignnone {
	    text-align: center;
	    margin: 0 auto;
	}
	figure.aligncenter, .btContent figure.alignnone {
	    margin: 0 auto 1em;
	}
	.alignnone {
		width: auto!important;
	}
}


/* Password protection (unit test) */ 

/* Password protection (unit test) */ 

.post-password-form {
	margin: 0 auto 4em;
	p:first-child {
		color: $(alternateColor);
	}
	p:nth-child(2){
		display: flex;
		align-items: flex-end;
		label {
			flex: 1 0 75%;
			padding-right: 5px;
			input[type="password"] {
				padding: 10px;
				height: 38px;
				display: inline;
			}		
		}
		input[type="submit"] {
			flex: 0 1 25%;
			margin: 0 auto;
			color: #FFF;
			width: auto;
			height: 38px;
			background: $(accentColor);
			border: 0;
			cursor: pointer;
			padding: 0 1em;
		}		
	}

}
/* Pagination */

.btPagination {
	font-family: "$(headingFont)";
	font-weight: 400;
	font-size: 1rem;
	line-height: 2.5rem;
	margin-top: 2em;
	margin-bottom: 4em;
	@fragment btClear;
	.paging.onLeft {
		float: left;
		.rtl & {
			float: right;
		}
	}
	.paging.onRight {
		float: right;
		.rtl & {
			float: left;
		}
	}
	.paging {
		
		a {
			display: block;
			color: inherit;
		}
		a:hover {
			color: $(accentColor);		
		}
		p {
			margin: 0; 
		}
		a:after {
			width: 2.5rem;
			display: block;
			text-align: center;
			font: 2rem/2.5rem Icon7Stroke;
			transition: all 500ms ease;
			:darkSkinSelector & {
				border: 1px solid $(lightFontColor);
				color: $(lightFontColor);			
			}
			:lightSkinSelector & {
				border: 1px solid $(lightFontColor);
				color: $(lightFontColor);			
			}
			.btSoftRoundedButtons & { border-radius: $(softBorderRadius) }
			.btHardRoundedButtons & { border-radius: $(hardBorderRadius) }
		}
		a:hover:after {
			border-color: $(accentColor);
			color: $(accentColor);			
		}
		
		.pagePrev a:after {
			content: "\e686";
			float: left;
			margin: 0 10px 0 0;
			.rtl & {
				content: "\e684";
				float: right;
				margin: 0px 0 0 10px;
			}

		}
		.pageNext a:after {
			content: "\e684";
			float: right;
			margin: 0px 0 0 10px;
			.rtl & {
				content: "\e686";
				float: left;
				margin: 0 10px 0 0;
			}
		}	
	}
}

/* PrevNext post */

.btPrevNextNav {
	@fragment btClear;
}

.btPrevNextNav {
	body.btNoSidebar & {
		margin-bottom: 4em;	
	}
	.btPrevNext {
		display: flex;
		align-items: center;
		float: left;
		color: inherit;
		min-height: 1px;
		.btNext& {
			flex-direction: row-reverse;
			float: right;
			text-align: right;
		}
		width: 50%;
		margin: 0;
		.btPrevNextImage {
			flex: 0 0 6em;
			height: 6em;
			background-size: cover;
			background-position: center center;
			margin: 0 1em 0 0;
				.rtl & {
					margin: 0 0 0 1em;				
				}
		}
		.btPrevNextItem {
			flex: 1 0 0%;
			min-width: 0%;
			.btPrevNextTitle {
				font-family: "$(headingFont)";
				font-size: 1.1rem;
				transition: color 200ms ease;
				@include btMaxLines(2, 1.8);
				text-transform: uppercase;
			}
			.btPrevNextDir {
				font-size: 0.9rem;
				text-transform: capitalize;
			}
		}
		&:hover {
			.btPrevNextTitle {
				color: $(accentColor);
			}

		}
		&.btNext {
			flex-direction: row-reverse;
			text-align: right;
			.btPrevNextImage {
				margin: 0 0 0 1em;
				.rtl & {
					margin: 0 1em 0 0;
				}
			}
		}
		.rtl & {
			float: right;
			&.btNext {
				text-align: left;
			}
		}
	}	
}

@media (max-width: 620px) { 
	.btPrevNext .btPrevNextImage { 
		display: none;
	}
	.btPrevNext .btPrevNextItem .btPrevNextTitle {
		font-size: 1rem;
	}
}

/* Linked pages in a single post (unit test) */

.btLinkPages {
	ul {
		margin-left: 0;
		padding-left: 0;
		margin-top: 30px;
		li {
			list-style: none;
			display: inline-block;
		}
	}
}

/* Photo slide */

.boldPhotoSlide {
	position: relative;
	.single & {
		h4.nbs {
			margin: 0 30px !important;
		}		
	}
}

/* Post categories, comments, date and author spans */

.btArticleCategories {
	a {
		color: $(accentColor);
		&:hover { 
			color: inherit; 
		}
		&:not(:first-child):before {
			content: ' ';
			display: inline-block;
			margin: -2px 10px 0 10px;
			letter-spacing: inherit;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			line-height: inherit;
			vertical-align: middle;
			background-color: $(accentColor);
		}		
	}
}

.btArticleDate {
	color: $(accentColor);
}

:any(.btArticleDate, .btArticleAuthor, .btArticleComments, .btArticleCategories):not(:last-child):after {
	/*border-right: 1px solid $(lightBorderColor);*/
	content: ' / ';
	padding: 0 0.3em;
	:lightSkinSelector & {
		color: $(accentColor);
	}
	:darkSkinSelector & {
		color: $(accentColor);
	}	
}

:lightSkinSelector :any(.btArticleDate, .btArticleAuthor, .btArticleComments, .btArticleCategories):not(:last-child) {
    border-color: $(lightBorderColor);
}

:darkSkinSelector :any(.btArticleDate, .btArticleAuthor, .btArticleComments, .btArticleCategories):not(:last-child) {
    border-color: $(darkBorderColor) !important;
}

.btArticleComments:before {
	font-family: FontAwesome;
	content: "\f075";
	margin: 0px;
	body:not(.rtl) & { margin-right: 5px; }
	body.rtl & { margin-left: 5px;float: right;}
	display: inline-block;
	:lightSkinSelector & { color: a-adjust($(lightFontColor) -60); }
	:darkSkinSelector & { color: a-adjust($(darkFontColor) -60); }
}

/* Galleries (unit test) */

.gallery {
	margin-bottom: 1.6em;
	.gallery-item {
	    display: inline-block;
	    padding: 0px 4px;
	    text-align: center;
	    vertical-align: top;
	    width: 100%;
	    margin: 0;
		.gallery-columns-2& { max-width: 50%; }
		.gallery-columns-3& { max-width: 33.33%; }
		.gallery-columns-4& { max-width: 25%; }
		.gallery-columns-5& { max-width: 20%; }
		.gallery-columns-6& { max-width: 16.66%; }
		.gallery-columns-7& { max-width: 14.28%; }
		.gallery-columns-8& { max-width: 12.5%; }
		.gallery-columns-9& { max-width: 11.11%; }
	}
}

@media (max-width: 1200px) {
	.gallery-item {
		width: 100% !important;
		max-width: 100% !important;
	}
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	display: block;
	padding: 5px 0;
}

.gallery-columns-6, .gallery-columns-7, .gallery-columns-8, .gallery-columns-9 {
	.gallery-caption {
		display: none;
	}
}

/* Unit test specific */

.wp-caption-text {
	font-size: inherit;
}

.bypostauthor { 
	font-size: inherit;
}





