/* btBox defaults */

.btBox {
	margin-bottom: 4em;
	@fragment btClear;
}

/* Base typography */

.sidebar .widget_bt_bb_recent_posts ul li, .btSidebar .widget_bt_bb_recent_posts ul li {
    margin: 0 0 0em;
}

.btBox, .btCustomMenu, .btTopBox {
	> h4 {
		font-size: 1.3em;
		text-transform: uppercase;
		margin-bottom: 1em;
		padding-bottom: 0em;
		display: inline-block;
		width: 100%;
	}
	h5 {
		font-size: 1.4em;
		margin-bottom: 0.35em;
	}
	body:not(.btNoDashInSidebar) & > h4:after {
		content: ' ';
		clear: both;
		width: 3em;
		display: block;
		border-bottom: 3px solid $(accentColor);
		margin: 0.8em 0 0;
	}
	label {
		display: none;
	}
	.wp-caption {
		margin-bottom: 0.5em;
	}
		
	p {
		/*margin-bottom: 0px;*/
	}
	select {
		display: block;
		margin: 0.5em 0 0;
		width: 100%;
		padding:  0.5em;
	}
	ul {
		list-style: none;
		margin: 0;
		display: block;
		padding: 0;
		/*border-top: 1px solid $(lightBgSubColor);*/
		li {
			display: block;
			width: auto;
			margin: 0;
			position: relative;
			padding: 0.8em 0;
			margin-left: 0;
			a {
				display: block;
			}
			:lightSkinSelector & {
				border-bottom: 1px solid $(lightBgSubColor);
			}
			:darkSkinSelector & {
				border-bottom: 1px solid $(darkBgSubColor);
			}
			ul {
				margin: 1em 0 0;
				padding: 0em 0 0;
				:lightSkinSelector & {
					border-top: 1px solid $(lightBgSubColor);
				}
				:darkSkinSelector & {
					border-top: 1px solid $(darkBgSubColor);
				}
				li {
					margin-left: 0.5em;	
				}				
			}
						
		}
		li.current-menu-item > a {
			color: $(accentColor);
			&:hover {
				$(alternateColor);
			}
		}
		li:first-child {
			padding-top: 0;
		}
		
		li:after {
			clear: both;
			content: " ";
			display: block;
		}
		
		li li:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	.btImageTextWidgetWrapper {
		padding-top: 0.2em;
		ul li {
			padding: 0 0 1em 0;
			border: none !important;
		}
	}
	.btImageTextWidget {
		display: flex;
		align-items: center;
		.btImageTextWidgetImage {
			flex: 0 0 30%;
			padding-right: 10px; 
			.rtl & {
				padding-right: 0;
				padding-left: 10px;
			}
			a {
				display: block;
				line-height: 0;
				img {
					margin: 0;
					border: 1px solid $(lightBorderColor);
					max-width: 100%;
					width: 100%;
					height: auto;
				}
			}
		}
		.btImageTextWidgetText {
			flex: 0 0 70%;
			overflow: hidden;
			.bt_bb_headline_superheadline {
				margin-bottom: 0;
			}
			.bt_bb_headline_content span {
				text-transform: uppercase;
				font-size: 1rem;
				@include btMaxLines(2, 1.4);	
			}
		}		
	}

	p.posted, .quantity {
		font-weight: 600;
		margin: 0;
		font-size: .8em;
	}
}

/* Calendar */

.widget_calendar table {
	width: 100%;
	border-collapse: collapse;
	caption{
		background: $(accentColor);
		background: $(accentColor);
		color: #FFF;
		font-family: "$(headingFont)";
		font-weight: 700;
		padding: 5px;
	}
	thead th {
		background: l-adjust( $(lightBackgorundColor) -20 );
		text-align: center;
		padding: 3px;
	}
	tfoot {
		td {
		padding: 3px;
		}
		td#next {
			text-align: right;
		}
	}
	tbody  {
		tr:nth-child(odd) td {
			background: transparent;
		}
		tr:nth-child(even) td {
			background: l-adjust( $(lightBackgorundColor) +20 );
		}
		td {
		text-align: center;
		padding: 2px 3px;
		}
	}
}

/* Archives */

.btBox.widget_archive, .btBox.widget_categories {
	ul li {
		text-align: right;
		.rtl & {
			text-align: left;
		}
		a {
			display: block;
			float: left;	
			.rtl & {
				float: right;
			}
		}
	}
	& .fancy-select {
		ul li {
			text-align: initial;
			&:first-child {
				padding-top: 0.5em;	
			} 
			a {
				display: inline;
				float: none !important;
			}
		}		
	}
}

/* Recent comments */

.widget_recent_comments {
	.comment-author-link a {
		font-weight: 700;
		display: inline;
		padding: 0;	
	}
}

/* RSS */

.widget_rss li {
	margin-bottom: 15px;
	a.rsswidget {
		font-family: "$(headingFont)";
		font-weight: 700;
	}
	.rss-date {
		display: block;
		color: l-adjust( $(bodyFontColor), -40 );
		margin: 0 0 5px;
	}
	cite {
		line-height: 2em;
	}
}

/* Dropdown archives */

.fancy-select {
	position: relative;
	.trigger {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		position: relative;
		cursor: pointer;
		line-height: 2.5em;
		padding: 0 0 0 1em;
		.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
		.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
		.rtl & {padding: 0 1em 0 0; }
	}
	.trigger:before {
		content: '\f078';
		font-family: FontAwesome;
		display: block;
		float: right;
		padding-right: 0.5em;
		transition: 150ms ease transform, 150ms ease color;
		.rtl & {
			float: left;
			padding-right: 0;
			padding-left: 0.5em;			
		}
	}
	.trigger.open:before {
		transform: scaleY(-1);
	}
	.options {
		display: none;
		position: absolute;
		top: auto;
		left: 0;
		width: 100%;
		list-style: none;
		max-height: 320px;
		overflow: auto;
		border: 1px solid $(lightBgSubColor);
		background-color: $(lightBgColor);
		color: $(lightFontColor);
	}
	.options.open {
		z-index: 20;
		display: block;
	}
	.options.overflowing {
		top: auto;
		bottom: 2.4em
	}
	ul.options  {
		padding: 0;
		margin: 0;
		li {
			cursor: pointer;
			padding-left: 1em;
			margin: 0;
			transition: 150ms ease color;
		}
		li:hover {
			color: $(accentColor);
		}
	}
}

/* Woo commerce widgets */

/* Card widget */

.widget_shopping_cart {
	ul li:last-child {
		border: none;
	}
	.total {
		width: 100%;
		border-top: 2px solid $(lightFontColor);
		padding: 1em 0 0;
		font-family: "$(headingFont)";
		line-height: 1.25;
		strong {
			display: block;
			float: left;
			padding-right: 8px;
			.rtl & {
				float: right;
				padding-right: 0;
				padding-left: 8px;
			}
		}
		.amount {
			display: block;
			float: right;
			.rtl & {float: left;}
		}
		@fragment btClear;
	}
	.btSidebar & .btCartWidgetIcon {
		display: none;
	}
	.total strong {
		min-width: 40px;
		display: inline-block;
	}
	.buttons {width: 100%;}
	.buttons .button {
		width: 48%;
		display: block;
		float: left;
		text-align: center;
		background: $(accentColor);
		color: $(darkFontColor);
		padding: 0.5em;
        .btHardRoundedButtons & {border-radius: 50px;}
        .btSoftRoundedButtons & {border-radius: 3px;}
	}
	.buttons .button.checkout {
		float: right;
	}
	.widget_shopping_cart_content .mini_cart_item {
		position: relative;
		.ppRemove {
			display: block;
			float: right;
			margin: 0 0 0 6px;
			.rtl & {
				float: left;
				margin: 0 6px 0 0;
			}
			a.remove {
				display: block;
				text-align: center;
				text-decoration: none;
				font-weight: 700;
				height: 1em;
				line-height: 1;
				width: 1em;
				vertical-align: middle;
				color: $(darkFontColor);
				background-color: $(accentColor);
				&:hover {
					background-color: $(alternateColor);
				}
			}
			a.remove:before {
				content: '\e680';
				font-family: Icon7Stroke;
			}
		}
		.btImageTextWidget {
			text-align: left;
			.rtl & {
				text-align: right;
			}
		}
	}
}


/* Shoping cart within header */

.menuPort, .topTools, .topBarInLogoArea {
	.widget_shopping_cart {
		display: inline-block;
		position: relative;
		.btMenuVertical & {
			position: static;
		}
		h2.widgettitle {
			display: none;
		}
		.widget_shopping_cart_content {
			.btCartWidgetIcon {
				cursor: pointer;
				position: relative;
				span.cart-contents {
					display: block;
					padding: 2px 3px;
					background-color: $(alternateColor);
					color: $(darkFontColor);
					font: normal 10px/1 $(menuFont);
					border-radius: 2px;
					position: absolute;
					top: 1px;
					right: -4px;
					.rtl & {
						right: auto;
						left: 0;
					}
					text-align: center;
					min-width: 1em;
					.btMenuVertical & {
						position: relative;
						display: inline-block;
						vertical-align: 50%;
						margin: 0 0 -50px -15px;
					}
				}
			}		
			.btCartWidgetInnerContent {
				width: 300px;
				background: $(lightBgColor);
				padding: 1em;
				position: absolute;
				z-index: 2;
				opacity: 0;
				right: 0;
				transform: translateY(-200%);
				color: $(lightFontColor);
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,.6);
				li.empty {
					padding: 0;
				}
				.rtl & {
					right: auto;
					left: 0;
					.ppRemove {
						float: left;
					}					
				}
				.btMenuVertical & {
					right: -210%;
					min-height: auto;
					width: 250px;
					z-index: 500;
					transform: translate3d(-100%,0,0);
					border: none !important;
					margin: 0;
					transition: all 350ms ease;
					.verticalMenuCartToggler {
						display: block;
						text-align: center;
						margin-bottom: 1em;
						background-color: $(accentColor);
						color: $(darkFontColor);
						border-radius: 5px;
						cursor: pointer;
						&:after {
							content: '\f00d';
							display: block;
							font-family: FontAwesome;
							font-size: 1.5em;
							margin: 0 auto;
						}
					}
				}
			}
			
		}
		.widget_shopping_cart_content.on {
			.btCartWidgetInnerContent {
				transform: translateY(0);
				opacity: 1;
				pointer-events: auto;
				.btMenuVertical & {
					transform: translate3d(0,0,0);
				}
			}
		}
	}	
}

.topBar {
	.widget_shopping_cart {
		.btCartWidgetInnerContent {
			font-size: 1.25em;
			color: $(lightFontColor) !important;
			text-align: left;
		}
				
	}
	.btTopToolsRight .widget_shopping_cart .btIco {
		margin-right: 0.5em;
	}
		
}

/* Product widgets */

.widget_recent_reviews {
	font-family: "$(headingFont)";
	font-size: 0.8em; 
	line-height: 1.4;
	li a img {
		display: block;
		width: 80px;
		height: auto;
		margin: 0 0 0 10px;
		float: right;
		border: 1px solid $(lightBorderColor);
	}	
}

.widget_product_categories li li {
	margin: 0 0 0 1em;
}

.product_list_widget {
	.reviewer {
		display: block;
		line-height: 1;
	}

	li:after {
		display: table !important;
	}	
} 

/* Price filter */

.widget_price_filter {
	.price_slider_wrapper {
		.ui-slider {
		border-radius: 1em;
			background-color: $(lightBgSubColor);
			border: 0;
			position: relative;
			text-align: left;
			margin-left: .5em;
			margin-right: .5em;
			margin-bottom: 1em;
			.ui-slider-handle {
				position: absolute;
				z-index: 2;
				width: 1em;
				height: 1em;
				background-color: $(accentColor);
				border-radius: 1em;
				cursor: ew-resize;
				outline: 0;
				top: -.25em;
				margin-left: -.5em;
				.ui-slider .ui-slider-range {
					position: absolute;
					z-index: 1;
					font-size: .7em;
					display: block;
					border: 0;
					border-radius: 1em;
					background-color: $(lightBgSubColor);
				}
			}
		}
		.ui-slider-horizontal {
			height: .5em;
			.ui-slider-range {
				top: 0;
				height: 100%}
			.ui-slider-range-min {
				left: -1px;
			}
			.ui-slider-range-max {
				right: -1px;
			}
		}
	}
	.price_slider_amount {
		text-align: right;
		.button {
			float: left;
		}
		.price_label {
		    padding-top: 8px;	
			span {
				font-weight: 600;
			}	
		}
	}	
}

/* Layered nav */

.widget_layered_nav, .widget_layered_nav_filters {
	ul li.chosen a:before {
		text-indent: 0;
		display: block;
		float: left;
		content: '\e680';
		font-family: Icon7Stroke;
		margin-right: 0.5em;
		background-color: transparent;
		position: relative;
	}
}


/* Tags */

.btBox .tagcloud, .btTags ul {
	a {
		display: inline-block;
		margin: 0 0.3em 0.3em 0;
		text-transform: uppercase;
		padding: 0.7em 2em;
		font-size: 0.8em;
		background: $(accentColor);
		color: $(darkFontColor);
		.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
		.btSoftRoundedButtons & {border-radius: $(softBorderRadius);}
		:lightSkinSelector& {color: $(lightFontColor);}
		:darkSkinSelector& {color: $(darkFontColor);}
	}
	a:hover {
		:lightSkinSelector & {
			background: $(darkBgColor);
			color: $(darkFontColor);
		}
		:darkSkinSelector & {
			background: $(lightBgColor);
			color: $(lightFontColor);
		}
	}	
}

.btTags ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		.btTextLeft & { float: left; }
		.btTextRight & { float: right; }
		padding: 0;
		margin: 0;
	}
}


/* Instagram feed */

.btInstaWrap {
	padding: 0.3em 0 1em;
}

.btInstaGrid {
    margin: 0 -10px;
	span {
		display: block;
		width: 33.3333%;
		padding: 0 0 10px 10px;
		float: left;
	}
	span:hover img {
		opacity: 0.6;
	}
	span:nth-child(3n+1) {
		clear: left;
	}	
	img {
		display: block;
		width: 100%;
		opacity: 1;
		-webkit-backface-visibility: hidden;
		transition: opacity 200ms ease;
	}
}

/* BT Text */

.btBox .btImage {
	margin-bottom: 0.5em;
	img {
		width: auto;
		margin: auto;
	}
}

/* Icon Widget */

.btIconWidget {
	.btIconWidgetText {
		opacity: 0.8;
	}
}

.topTools, .topBarInMenu {
	.btIconWidget {
		position: relative;
		display: inline-block;
		line-height: inherit;
		.btIconWidgetIcon {
			line-height: inherit;
			display: inline-block;
			.bt_bb_icon {
				padding: 0;
			}
		}
		&:hover {
			color: $(accentColor);	
		}
		margin-left: 0.5em;
		margin-right: 0.5em;
		.btMenuHorizontal & {
			margin: 0;
		}
		.btMenuHorizontal &:not(:first-child) {
			margin-left: 1em;
			margin-right: 0em;
			.rtl& {
				margin-right: 1em;
				margin-left: 0em;				
			}
		}
		&.btWidgetWithText {
			.bt_bb_icon {
				margin-right: 0.5em;
				.rtl& {
					margin-right: 0;
					margin-left: 0.5em;				
				}
			}
		}
	}
	.btIconWidgetContent {
		line-height: inherit;
		display: inline-block;
	}
	:any(.btIconWidgetTitle, .btIconWidgetText) {
		display: inline-block;
		line-height: inherit;
		margin-right: 0.5em;
	}
}

/* Icon widget in Sidebar */

.btSidebar, footer, .topBarInLogoArea {
	.btIconWidget {
		margin: 0 0 1.6em;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		align-content: flex-start;
		.btMenuVertical & {
			margin: 0 0 2em 0;
			flex-direction: column;
			flex-flow: inherit;
			align-items: center;
			justify-content: center;
			float: none;
		}
		.btIconWidgetIcon {
			line-height: 1;
			padding: 0 .2em 0 0;
			text-align: left;
			font-size: 2em;
			.bt_bb_icon {
				font-size: 2em;
				padding: 0;
			}
		}
		.btIconWidgetContent {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
		    .btIconWidgetTitle {
			    font-size: .7em;
			    text-transform: uppercase;
			}
			.btIconWidgetText {
			    font-size: 1.1em;
			    display: block;
    			line-height: 1;
    			transition: all 300ms ease;
			}
		}
		&:hover {
			.btIconWidgetText {color: $(accentColor);}
		}
		&.btCartWidget {margin: 0;}
	}	
}

.topBarInLogoArea  {
	.btIconWidget {
		margin: 0 0 0 2em;
		float: right;
		.rtl& {
			margin-right: 0;
			margin-left: 2em;
			float: left;
		}
	}
}

.btAccentIconWidget.btIconWidget .btIconWidgetIcon { 
	color: $(accentColor);
}


.btSiteFooterWidgets .btBox.widget_shopping_cart {
	.btCartWidgetIcon, .verticalMenuCartToggler {display: none;}
	.btCartWidgetInnerContent {
		.cart_list {
			li, li:nth-child(2n) {
				width: auto;
				float: none;
				padding: 0.8em 0;
				margin: 0;
			}
			li:first-child {
				padding: 0 0 0.8em;
			}
		}
	}
}


/* Search widget */

.btSiteFooterWidgets .btSearch, .btSidebar .btSearch, .btSidebar .widget_product_search {
	padding: 0 38px 0 0;
	.rtl & {padding: 0 0 0 38px;}
	.port { padding: 0; }
	input[type="text"], input[type="search"] {
		padding: 0 10px;
		background: transparent;
		height: 38px;
		width: 100%;
		display: block;
		.btSoftRoundedButtons & {
			border-radius: $(softBorderRadius) 0 0 $(softBorderRadius);
		}
		.rtl.btSoftRoundedButtons & {
			border-radius: 0 $(softBorderRadius) $(softBorderRadius) 0;
		}
	}
	button, input[type=submit] {
		width: 38px;
		height: 38px;
		border: 0;
		float: right;
		margin: -38px -38px 0 0;
		.rtl & {
			float: left;
			margin: -38px 0 0 -38px;			
		}
		cursor: pointer;
		padding: 0 !important;
		.btHardRoundedButtons & {border-radius: $(hardBorderRadius);}
		.btSoftRoundedButtons & {
			border-radius: 0 $(softBorderRadius) $(softBorderRadius) 0;
		}
		.rtl.btSoftRoundedButtons & {
			border-radius: $(softBorderRadius) 0 0 $(softBorderRadius);
		}
		:lightSkinSelector & {
			background-color: $(darkBgColor) !important;
			border-color: $(darkBgColor) !important;
			color: $(darkFontColor);
		}
		:darkSkinSelector & {
			background-color: $(lightBgColor) !important;
			border-color: $(lightBgColor) !important;
			color: $(lightFontColor);
		}
	}
	button {transition: all 300ms ease;}
	button:before{
		font-family: FontAwesome;
		content: "\f002";
		display: inline-block;
		:lightSkinSelector & {
			color: $(darkFontColor);
		}
		:darkSkinSelector & {
			color: $(lightFontColor);
		}
	}
	button:hover {
		:any(:lightSkinSelector,:darkSkinSelector) & {
			background: $(accentColor) !important;
			border-color: $(accentColor) !important;
			color: $(darkFontColor);
		}
	}
	.bt_bb_icon,  {
		display: none;
	}
}

.btSearch .bt_bb_icon, .widget_shopping_cart .bt_bb_icon {
	.btTopToolsRight & {
		margin-left: .5em;
		padding-left: .5em;
	}
	.btTopToolsLeft & {
		margin-left: .5em;
		padding-left: .5em;
	}
}


/* Top Search widget */

.btSearchInner.btFromTopBox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    transform: translate(0,100%);
	box-shadow: 0 0 50px 0 rgba(0,0,0,.15);
	:lightSkinSelector & {
		background: $(lightBgColor);
	}
	:darkSkinSelector & {
		background: $(darkBgColor);
	}
	opacity: 0;
	pointer-events: none;
	transition: all 800ms ease;
	z-index: 99998;
	.btSearchInnerContent {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
	}
	form {
		text-align: center;
		position: absolute;
		height: 6.75em;
		left: 0;
		right: 0;
		top: 50%;
		margin: -3.375em 10% 0;
	}
	.btSearchInnerClose {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		cursor: pointer;
		.rtl & {
			right: auto;
			left: 0;
		}
		.bt_bb_icon {
			padding: 0;
		}
		.bt_bb_icon {
			width: auto;
			height: auto;
			transition: none;
			.bt_bb_icon_holder:before {
				font: 8em/1 Icon7Stroke;
				content: "\e680";
				width: auto;
				height: auto;
				transition: none;
			}
		}
		.bt_bb_icon a.bt_bb_icon_holder {
			color: $(accentColor);
			transition: 300ms ease all;
			transform: rotate(0deg);
		}
		.bt_bb_icon:hover a.bt_bb_icon_holder {
			color: $(accentColorDark);
			transition: 300ms ease all;
			transform: rotate(180deg);
		}
	}
	input[type="text"] {
		padding: 0 2em 0 1em;
		height: 2.25em;
		line-height: 2.25em;
		font-size: 3em;
		font-weight: 300;
		border: none;
		text-align: left;
		transition: 500ms ease all;
		.rtl & {
			padding: 0 1em 0 2em;
		}
		:lightSkinSelector & {
			color: $(lightFontColor);
			box-shadow: 0 0 0 2px $(lightBorderColor) inset;
		}
		:darkSkinSelector & {
			color: $(darkFontColor);
			box-shadow: 0 0 0 2px $(darkBorderColor) inset;
		}
		&:focus {
			border: none;
			transition: all 500ms ease;
			:lightSkinSelector & {
				box-shadow: 0 0 0 3px $(darkBgColor) inset;
			}
			:darkSkinSelector & {
				box-shadow: 0 0 0 3px $(lightBgColor) inset;
			}
		}
		.btHardRoundedButtons & {
			border-radius: 100px;
		}
		.btSoftRoundedButtons & {
			border-radius: 10px;
		}
		.btSquareButtons & {
			border-radius: 0;
		}
	}
	button {
		border: 0 !important;
		position: absolute;
	    margin: 0;
	    right: 0;
	    top: 0;
	    border-radius: 0;
	    width: 6.75em;
	    height: 6.75em;
	    background: transparent !important;
	    border: 0;
	    cursor: pointer;
		box-shadow: none !important;
		.rtl & {
			right: auto;
			left: 0;
		}
		&:before {
			font: 4em/1 Icon7Stroke;
			display: block;
			content: "\e618";
			color: $(darkFontColor);
			font-weight: 400;
			text-align: center;
			transition: color 300ms ease;
			:lightSkinSelector & {
				color: $(lightBorderColor);
				&:hover {$(lightFontColor);}
			}
			:darkSkinSelector & {
				color: $(darkBorderColor);
				&:hover {$(darkFontColor);}
			}
		}
		&:hover:before {
			color: $(accentColor);
			transition: color 300ms ease;
		}
	}
	.btTopToolsSearchOpen & {
		opacity: 1;
		pointer-events: auto;
		transform: translate(0,0);
	}
}

:lightSkinSelector {
	.btSearchInner.btFromTopBox {
		input[type="text"]::-webkit-input-placeholder {
			color: $(lightFontColorLighter);
		}
	}
	.btSearchInner.btFromTopBox {
		input[type="text"]::-moz-placeholder {
			color: $(lightFontColorLighter);
		}
	}
	.btSearchInner.btFromTopBox {
		input[type="text"]::-ms-input-placeholder {
			color: $(lightFontColorLighter);
		}
	}
}
:darkSkinSelector {
	.btSearchInner.btFromTopBox {
		input[type="text"]::-webkit-input-placeholder {
			color: $(darkBgSubColor);
		}
	}
	.btSearchInner.btFromTopBox {
		input[type="text"]::-moz-placeholder {
			color: $(darkBgSubColor);
		}
	}
	.btSearchInner.btFromTopBox {
		input[type="text"]::-ms-input-placeholder {
			color: $(darkBgSubColor);
		}
	}
}
